:root {
    --primary-btn-color: var(--first-color);
    --secondary-btn-color: var(--fourth-color)
}

.custom-btn-primary-menu {
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

.custom-btn-primary-social {
    background-color: var(--secondary-btn-color);
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
    outline: none !important;
    border: none;
}

.custom-btn-primary-social:hover {
    background-color: var(--primary-btn-color);
    outline: none !important;
    border: none;
}

.custom-btn-primary-social:hover>.icon-social {
    filter: brightness(0) invert(1)
}

.custom-btn-primary-social:active {
    background-color: var(--primary-btn-color);
    outline: none !important;
    border: none;
}

.custom-btn-primary-social:active>.icon-social {
    filter: brightness(0) invert(1)
}

.bustom-btn-scroll {
    background-color: transparent;
    border: none;
    z-index: 2;
    width: 100px;
    height: 100px;
    color: #fff !important;
    outline: none !important;
}

.bustom-btn-scroll:focus {
    background-color: transparent;
    border: none;
    outline: none !important;
}

.bustom-btn-scroll:active {
    background-color: transparent;
    border: none;
    outline: none !important;
}