.custom-footer-first-row {
    margin-bottom: 70px;
}

.custom-footer-right-col {
    justify-self: flex-end;
    padding: 0 0 0 20px;
}

.custom-footer-title {
    font-size: 15px;
    font-weight: 700;
}

.custom-footer-description {
    font-size: 14px;
    font-weight: 500;
}

.custom-footer-copyright {
    font-size: 10px;
}

.custom-footer-translation-desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .custom-footer-left-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .custom-footer-l-col-first-el {
        margin-right: 20px;
    }

    .custom-footer-social {
        display: none;
    }

    .custom-footer-translation-mobile {
        display: none;
    }

    .custom-footer-translation-desktop {
        display: block;
    }
}