.footer-section {
  position: relative;
  z-index: 10;
  letter-spacing: .1rem;
  background-color: var(--dark-grey);
  padding: 1.25rem 6%;
  color: var(--white);
}

.footer-padding-elements {
  padding: 20px 0;
}

.footer-logo-lang {
  align-items: center;
  justify-content: center;
}

.footer-info-policies {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-info p {
  text-align: center;
}

.footer-info div:nth-child(1) {
  margin-bottom: 30px;
}

.footer-info div p:nth-child(1) {
  display: none;
}


.footer-policies-desktop {
  display: none;
}

.footer-social-mobile {
  padding-top: 20px;
}

.footer-vatNumber-social {
  flex-direction: column;
}

.footer-policies-mobile {
  text-align: center;
  border-top: 1px solid var(--grey-tone-1)
}

.footer-vatNumber-desktop {
  display: none;
}

.footer-social-desktop {
  display: none;
}


@media (min-width: 900px) {
  .footer-section {
    padding: 1rem 8.3%;
  }

  .footer-logo-lang {
    justify-content: space-between;
  }

  .footer-container-logo {
    height: 48px;
    width: auto;
  }

  .footer-info-policies {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-info {
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
  }

  .footer-info p {
    text-align: start;
  }

  .footer-info div:nth-child(1) {
    margin-bottom: 0px;
  }

  .footer-info div p:nth-child(1) {
    display: block;
  }

  .footer-policies-desktop {
    display: flex;
    flex-direction: column;
  }

  .footer-social-mobile {
    display: none;
  }

  .footer-vatNumber-social {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer-policies-mobile {
    display: none;
  }

  .footer-vatNumber-desktop {
    display: block;
    font-size: 1rem;
    color: var(--grey-tone-4);
  }

  .footer-social-desktop {
    display: block;
  }
}

@media (min-width: 1200px) {

  .footer-padding-elements {
    padding: 45px 0;
  }
}

@media (min-width: 1600px) {
  .footer-section {
    font-size: 1.25rem;
  }

  .footer-container-logo {
    height: 78px;
  }
}