.link-default {
  color: var(--white) !important;
  text-transform: uppercase;
  font-family: var(--moderat-bold);
  position: relative;
  text-decoration: none;
}

.link-default::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--red);
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  -o-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-apply {
  font-size: var(--font-size-h3-xs);
  /* margin: 20px 0; */
}

.link-detail-academy {
  text-transform: capitalize;
  font-size: var(--font-size-h3-xs);
  line-height: var(--line-height-h3-xs);
}

/* Hover */
@media (hover: hover) and (pointer: fine) {
  .link-default:hover::before {
    left: 0;
    right: auto;
    width: 100%;
    background-color: var(--white);
  }
}

@media(min-width: 768px) {
  .link-apply {
    font-size: var(--font-size-h3-md);
  }

  .link-detail-academy {
    font-size: var(--font-size-h3-md);
    line-height: var(--line-height-h3-md);
  }

}

@media(min-width: 1440px) {
  .link-apply {
    font-size: calc(var(--font-size-h3-xl) - 10px);
  }

  .link-detail-academy {
    font-size: var(--font-size-h3-xl);
    line-height: var(--line-height-h3-xl);
  }
}