.link-default {
  color: var(--white) !important;
  text-transform: uppercase;
  font-family: var(--ginra-bold);
  position: relative;
  text-decoration: none;
}

.link-default::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--red);
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  -o-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-detail-academy {
  text-transform: capitalize;
  white-space: nowrap;
}

.link-apply-primary {
  color: var(--lightblue) !important;
}

.link-apply-secondary {
  color: var(--yellow) !important;
}

/* Hover */
@media (hover: hover) and (pointer: fine) {
  .link-default:hover::before {
    left: 0;
    right: auto;
    width: 100%;
    background-color: var(--white);
  }

  .link-apply-primary:hover::before {
    background-color: var(--lightblue);
  }

  .link-apply-secondary:hover::before {
    background-color: var(--yellow);
  }
}

.wrapper {
  display: inline;
}