:root {
  --bg-team-beije: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images");
}

/* First section */
.home-fist-section-container {
  /* height: 100vh; */
  color: var(--white);

  .home-first-section-title-container {
    height: 100vh;
  }

  .home-first-section-navbar-container {
    margin-top: calc(100vh - 115vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .home-first-section-scroll-down-container {
    display: none;
  }
}

/* Second section */
.home-second-section-container {
  height: 360px;
  color: var(--white);
  padding-left: 19.7% !important;
  padding-right: 11.2% !important;

  img {
    height: 20px;
    position: absolute;
  }

  .home-second-section-quotation1 {
    top: -7px;
    left: -30px;
  }

  .home-second-section-quotation2 {
    right: -33px;
    bottom: -10px;
  }
}

/* Third section*/
.home-third-section-container {
  padding-top: 60px;
  margin-bottom: 40px;

  .home-third-section-tab-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}


.home-logo-bg {
  display: none;
}

/* Fourth section */
.home-fourth-section-container {
  padding-bottom: 100px;
  position: relative;

  p {
    font-size: 1.4rem;
    color: var(--white);
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 55px;
    text-transform: uppercase;
  }

  p:nth-child(2) {
    font-size: 2.3rem;
  }

  .home-written-bg-mobile {
    text-transform: uppercase;
    font-family: var(--ginra-bold);
    font-size: 45px;
    position: absolute;
    left: 0;
    margin: auto;
    color: var(--grey-tone-6);
    opacity: 16%;
    width: 100%;
    text-align: center;
    bottom: 35px;
  }
}

.home-written-bg-desktop {
  display: none;
}

.home-fourth-section-p-animation {
  width: 100%;
  -webkit-animation: typing 2s steps(32), 0.5s step-end infinite alternate;
  animation: typing 2s steps(32), 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* Fifth section */
.home-fifth-section-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 100px;
  margin-bottom: 50px;

  &:hover {
    .home-fifth-section-span-strong {
      opacity: 100% !important;
    }

    .home-fifth-section-final-span {
      font-style: italic;
    }
  }

  .home-fifth-section-first-box {
    text-transform: uppercase;
  }

  .home-fifth-section-second-box {
    p {
      margin-bottom: 20px;
    }

    .home-fifth-section-span {
      opacity: 60%;
    }

    .home-fifth-section-span-strong {
      opacity: 60%;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
    }

  }

}

/* Sixth section */
.home-sixth-section-container {
  position: absolute;
  bottom: -190px;
  left: 0px;
}

/* Seventh section */
.home-seventh-section-container {
  background-color: var(--white);
  padding-bottom: 80px;
  padding-top: 150px;

  .home-seventh-section-box-form {
    margin-top: 150px;
  }
}


/* Media Queries */
@media (min-width: 375px) {
  .home-first-section-navbar-container {
    margin-top: calc(100vh - 125vh);
  }
}

@media (min-width: 400px) {
  .home-sixth-section-container {
    bottom: -210px;
  }
}

@media (min-width: 768px) {
  .home-first-section-navbar-container {
    margin-top: calc(100vh - 120vh);
  }

  .home-second-section-container {
    padding-left: 23.5% !important;
    padding-right: 25% !important;
    height: 490px;
  }

  .home-logo-bg {
    display: block;
    position: absolute;
    top: 100px;
    right: 8.2%;
    opacity: 16%;
    width: 36%;
  }

  .home-written-bg-mobile {
    display: none;
  }

  .home-written-bg-desktop {
    display: block;
    text-transform: uppercase;
    font-family: var(--ginra-bold);
    font-size: 90px;
    position: absolute;
    top: 600px;
    left: 0;
    margin: auto;
    color: var(--grey-tone-6);
    opacity: 16%;
    width: 100%;
    text-align: center;
  }

  .home-third-section-container {
    padding-top: 122px;
    margin-bottom: 250px;
    min-height: 550px;
  }

  .home-third-section-tab-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .home-fourth-section-container {
    background-image: var(--webkit-photos-filter),
      url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/manifest/manifest1_desktop.jpg");
    background-image: var(--o-photos-filter),
      url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/manifest/manifest1_desktop.jpg");
    background-image: var(--photos-filter),
      url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/manifest/manifest1_desktop.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 180px;
  }

  .home-fourth-section-container p {
    font-size: 2.5rem;
    line-height: 110px;
  }

  .home-fourth-section-container p:nth-child(2) {
    font-size: 3.25rem;
  }

  .home-fifth-section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home-fifth-section-second-box {
    width: 55%;
  }

  .home-sixth-section-container {
    bottom: -270px;
  }

  .home-seventh-section-box-form {
    margin-top: 300px !important;
  }
}

@media (min-width: 1024px) {
  .home-first-section-title-container h1 {
    font-size: 2.2rem !important;
  }

  .home-first-section-scroll-down-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed !important;
    bottom: 60px;
    right: 64px;
  }

  .home-logo-bg {
    top: 150px;
    right: 7.8%;
  }

  .home-fourth-section-container {
    background-image: var(--webkit-photos-filter),
      url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/manifest/manifest1_desktop.jpg");
    background-image: var(--o-photos-filter),
      url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/manifest/manifest1_desktop.jpg");
    background-image: var(--photos-filter),
      url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/manifest/manifest1_desktop.jpg");
  }

  .home-sixth-section-container {
    bottom: -350px;
  }
}

@media (min-width: 1200px) {
  .home-first-section-navbar-container {
    margin-top: calc(100vh - 120vh);
  }

  .home-first-section-scroll-down-container {
    right: 100.8px;
  }

  .home-second-section-container {
    height: 700px;
  }

  .home-written-bg-desktop {
    font-size: 160px;
    top: 650px;
  }

  .home-third-section-container {
    padding-top: 200px;
    margin-bottom: 350px;
    min-height: 600px;
  }

  .home-fourth-section-container {
    min-height: 100vh;
  }

  .home-fourth-section-container p {
    font-size: 3.8rem;
    line-height: 110px;
  }

  .home-fourth-section-container p:nth-child(2) {
    font-size: 4.25rem;
  }

  .home-sixth-section-container {
    bottom: -435px;
    padding: 0 8.3% !important;
  }

  .home-seventh-section-box-form {
    margin-top: 400px !important;
  }
}

@media (min-width: 1600px) {
  .home-first-section-navbar-container {
    margin-top: calc(100vh - 117vh);
  }

  .home-first-section-title-container h1 {
    font-size: 2.6rem !important;
    line-height: 70px;
  }

  .home-first-section-scroll-down-container {
    right: 160px;
  }

  .home-second-section-txt {
    font-size: 2.1rem !important;
    line-height: 60px !important;
  }

  .home-logo-bg {
    top: 200px;
  }

  .home-written-bg-desktop {
    font-size: 200px;
    top: 830px;
  }

  .home-third-section-container {
    padding-top: 250px;
    margin-bottom: 400px;
    min-height: 700px;
  }

  .home-fourth-section-container p {
    font-size: 5rem;
    line-height: 155px;
  }

  .home-fourth-section-container p:nth-child(2) {
    font-size: 8.1rem;
  }

  .home-fifth-section-container {
    margin-bottom: 150px;
  }

  .home-sixth-section-container {
    bottom: -680px;
  }

  .home-seventh-section-box-form {
    margin-top: 570px !important;
  }
}

// Animation
.home-fourth-section-p p {
  opacity: 0;
}

.containerAnimation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .box {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      text-transform: uppercase;
      margin-bottom: 20px;

      .block {
        width: 0%;
        height: inherit;
        position: absolute;
        -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);
      }

      p {
        color: #fff;
        font-size: 1.4rem;
        -webkit-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s;
        opacity: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        position: relative;
        letter-spacing: 1px;
        font-family: var(--ginra-bold);

        span {
          width: 0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: var(--grey-tone-7);
          -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;
        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 40px;
      margin-top: -10px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px;

      .block {
        width: 0%;
        height: inherit;
        background: var(--red);
        position: absolute;
        -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      p {
        -webkit-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        -webkit-animation-delay: 3.2s;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        color: #ffffff;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: var(--ginra-bold);
      }
    }

    .role_2 {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 40px;
      margin-top: -10px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .block {
        width: 0%;
        height: inherit;
        position: absolute;
        -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);
      }

      p {
        -webkit-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        -webkit-animation-delay: 5.2s;
        animation-delay: 5.2s;
        opacity: 0;
        font-weight: 400;
        color: #ffffff;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: var(--ginra-bold);
      }
    }
  }
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    border: 0px solid #ddd;
    opacity: 0;
  }

  50% {
    width: 10px;
    height: 10px;
    opacity: 1;
    bottom: 45px;
  }

  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }

  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }

  100% {
    width: 7px;
    height: 7px;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    border: 0px solid #ddd;
    opacity: 0;
  }

  50% {
    width: 10px;
    height: 10px;
    opacity: 1;
    bottom: 45px;
  }

  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }

  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }

  100% {
    width: 7px;
    height: 7px;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@-webkit-keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(-02deg);
    transform: scale(1.3) rotate(-02deg);
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(-02deg);
    transform: scale(1.3) rotate(-02deg);
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@media (min-width: 768px) {
  .containerAnimation {
    .box {
      .title {
        height: 60px;

        p {
          font-size: 3rem;
          letter-spacing: 1px;
        }
      }

      .role {
        height: 60px;

        p {
          font-size: 3rem;
          letter-spacing: 1px;
        }
      }

      .role_2 {
        height: 60px;

        p {
          font-size: 3rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .containerAnimation {
    .box {
      .title {
        height: 110px;

        p {
          font-size: 3.9rem;
          letter-spacing: 2px;
        }
      }

      .role {
        height: 110px;

        p {
          font-size: 3.9rem;
          letter-spacing: 2px;
        }
      }

      .role_2 {
        height: 110px;

        p {
          font-size: 3.9rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .containerAnimation {
    .box {
      .title {
        height: 130px;

        p {
          font-size: 5rem;
          letter-spacing: 3px;
        }
      }

      .role {
        height: 130px;

        p {
          font-size: 5rem;
          letter-spacing: 3px;
        }
      }

      .role_2 {
        height: 130px;

        p {
          font-size: 5rem;
          letter-spacing: 3px;
        }
      }
    }
  }
}