/* First section */
.home-fist-section-container {
  /* height: 100vh; */
  color: var(--white);
}

.home-first-section-title-container {
  height: 100vh;
}

.home-first-section-navbar-container {
  margin-top: calc(100vh - 130vh);
  display: flex;
}

.home-first-section-scroll-down-container {
  display: none;
}

/* Second section */
.home-second-section-container {
  height: 100vh;
  color: var(--white);
  padding-left: 19.7% !important;
}

.home-second-section-quotation-marks {
  color: var(--red);
  font-size: 1.5rem;
  line-height: 0px;
}

/* Third section */
.home-third-section-container {
  height: 1000px;
}


/* Media Queries */
@media(min-width: 768px) {

  .home-second-section-container {
    padding-left: 23.5% !important;
    padding-right: 47.6% !important;
  }

  .home-second-section-quotation-marks {
    font-size: 2.7rem;
  }
}

@media(min-width: 1024px) {

  .home-first-section-scroll-down-container {
    display: flex;
    position: fixed !important;
    bottom: 60px;
    right: 64px;
  }
}

@media(min-width: 1200px) {
  .home-first-section-navbar-container {
    margin-top: calc(100vh - 120vh);
  }

  .home-first-section-scroll-down-container {
    right: 100.8px;
  }
}

@media(min-width: 1600px) {

  .home-first-section-navbar-container {
    margin-top: calc(100vh - 117vh);
  }

  .home-first-section-scroll-down-container {
    right: 160px;
  }

  .home-second-section-quotation-marks {
    font-size: 4.375rem;
  }
}