:root {
  --home-bg-color-fourth-sec: var(--fourth-color);
}

.home-section {
  height: 100vh;
}

.home-polygen-firstSec {
  padding: 0;
  -webkit-clip-path: polygon(100% 0, 100% calc(100% + 5%), 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% calc(100% + 5%), 0 100%, 0 0);
  height: 100vh;
}

.home-video-filter {
  z-index: -1;
  background-image: -webkit-linear-gradient(left top, left bottom, from(rgb(72, 116, 147, 0.70)), to(rgb(221, 44, 44, 0.70)));
  background-image: -o-linear-gradient(top, rgb(72, 116, 147, 0.70), rgb(221, 44, 44, 0.70));
  background-image: linear-gradient(to bottom, rgb(72, 116, 147, 0.70), rgb(221, 44, 44, 0.70));
  top: 0;
  left: 0;
  height: calc(100% + 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .home-polygen-clip-path-firstSec {}

.home-polygen-bg-firstSec {} */

.home-second-section {
  background-color: #fff;
  /* height: 80vh; */
  margin: 50px 0;
}

.home-third-section {
  background-color: #fff;
}

.home-fourth-section {
  background-color: var(--home-bg-color-fourth-sec);
}

.home-last-section {
  background-color: var(--home-bg-color-fourth-sec);
}


/* .home-video-filter {
  z-index: -1;
  background-image: -webkit-linear-gradient(left top, left bottom, from(rgb(72, 116, 147, 0.70)), to(rgb(221, 44, 44, 0.70)));
  background-image: -o-linear-gradient(top, rgb(72, 116, 147, 0.70), rgb(221, 44, 44, 0.70));
  background-image: linear-gradient(to bottom, rgb(72, 116, 147, 0.70), rgb(221, 44, 44, 0.70));
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} */

.home-link:hover {
  border-bottom: 1px solid #fff !important;
}

.home-polygen-clip-path-contancts {
  -webkit-clip-path: polygon(100% calc(100% - 95%), 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% calc(100% - 95%), 100% 100%, 0 100%, 0 0);
}


/* @media (-webkit-min-device-pixel-ratio: 1.25) {
  .home-polygen-firstSec {
    padding: 0px !important;
  }
} */


.trial {
  height: 100vh;
  position: sticky;
  top: 0;
}