:root{
    --primary-color-footer: var(--first-color)
}

.basicLayout-header{
    padding: 5px 10px;
    background-color: transparent;
}

.basicLayout-footer{
    background-color: var(--primary-color-footer);
    padding: 20px 20px 0 20px;
}