.cookie-policies-container table {
  border-collapse: collapse;
  width: 100%;
}

.cookie-policies-container td, .cookie-policies-container th {
  border: 1px solid #ddd;
  padding: 8px;
}

.cookie-policies-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cookie-policies-container tr:hover {
  background-color: #ddd;
}

.cookie-policies-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}