/* NAVBAR TOP */
.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: var(--white);
}

.navbar-container a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--ginra-bold);
  position: relative;
}

.navbar-container a:nth-child(2) {
  margin: 0 30px
}

/* ** before ** */
.navbar-container a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  -o-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.navbar-container a:nth-child(1)::before {
  background-color: var(--lightblue);
}

.navbar-container a:nth-child(2)::before {
  background-color: var(--yellow);
}

.navbar-container a:nth-child(3)::before {
  background-color: var(--blue);
}

/* ** hover ** */
@media (hover: hover) and (pointer: fine) {
  .navbar-container a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }

  .navbar-container a:nth-child(1):hover {
    color: var(--lightblue);
  }

  .navbar-container a:nth-child(2):hover {
    color: var(--yellow);
  }

  .navbar-container a:nth-child(3):hover {
    color: var(--blue);
  }
}

/* Page on focus */
.navbarTop-hightlight {
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  -webkit-animation: createUndeline linear 1.5s;
  animation: createUndeline linear 1.5s;
}

.navbarTop-hightlight-consulting {
  border-bottom: 2px solid var(--lightblue);
}

.navbarTop-hightlight-up {
  border-bottom: 2px solid var(--blue);
}

.navbarTop-hightlight-academy {
  border-bottom: 2px solid var(--yellow);
}

@-webkit-keyframes createUndeline {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }

}

@keyframes createUndeline {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

.navbarTop-hightlight:hover {
  display: none;
}

/* NAVBAR HOME */
.navbar-container-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--white);
}

.navbar-container-secondary a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--ginra-bold);
  position: relative;
}

.navbar-container-secondary a:nth-child(2) {
  margin: 30px 0;
}

/* ** before ** */
.navbar-container-secondary a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--red);
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  -o-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* ** hover ** */
@media (hover: hover) and (pointer: fine) {
  .navbar-container-secondary a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }

  .navbar-container-secondary a:nth-child(1):hover::before {
    background-color: var(--lightblue);
  }

  .navbar-container-secondary a:nth-child(2):hover::before {
    background-color: var(--yellow);
  }

  .navbar-container-secondary a:nth-child(3):hover::before {
    background-color: var(--blue);
  }

  .navbar-container-secondary a:nth-child(1):hover {
    color: var(--lightblue);
  }

  .navbar-container-secondary a:nth-child(2):hover {
    color: var(--yellow);
  }

  .navbar-container-secondary a:nth-child(3):hover {
    color: var(--blue);
  }
}

/* Media Queries */
@media(min-width: 1024px) {
  .navbar-container-secondary {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-container-secondary a:nth-child(2) {
    margin: 0 30px
  }
}


@media(min-width: 1600px) {
  .navbar-container a:nth-child(2) {
    margin: 0 57px
  }

  .navbar-container-secondary a:nth-child(2) {
    margin: 0 57px
  }
}