.custom-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-footer-right-col {
    justify-self: flex-end;
    padding: 0 0 0 20px;
}

.custom-footer-title {
    font-size: 15px !important;
    line-height: 30px !important;
    font-weight: bold;
    color: #fff;
}

.custom-footer-description {
    font-size: 15px !important;
    line-height: 25px !important;
    color: #fff;
}

.custom-footer-copyright {
    font-size: 10px;
}

.custom-footer-translation-desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .custom-footer-left-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .custom-footer-l-col-first-el {
        margin-right: 20px;
    }

    .custom-footer-social {
        display: none;
    }

    .custom-footer-translation-mobile {
        display: none;
    }

    .custom-footer-translation-desktop {
        display: block;
    }
}