:root {
    --bg-color-primary-academy: var(--fifth-color);
    --bg-color-secondary-academy: var(--fourth-color);
}

.academy-container {
    background-color: var(--bg-color-secondary-academy) !important;
    padding-top: 80px;
    overflow-x: hidden;
    position: relative;
}

.academy-section1 {
    background-color: var(--bg-color-primary-academy);
    padding-top: 20px;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 10vw));
}

.academy-title-container {
    padding: 0 20px;
}


.academy-intro-container {
    width: 100%;
    padding: 0 20px;
}

.academy-intro {
    font-weight: 400px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    margin: 0 !important;
}

.academy-images-container {
    height: 257px;
    width: 100%;
}

.academy-img1-container .ant-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.academy-images {
    width: 95%;
    height: 257px;
}

.academy-img1 {
    border-radius: 30px 0 0 30px;
}

.academy-desc-container {
    padding: 20px;
    color: #fff
}

.academy-img2 {
    border-radius: 0 30px 30px 0;
}

.academy-section2 {
    padding: 0 20px;
    margin-bottom: 30px;
}

.academy-carousel-mobile {
    display: block;
}

.academy-card-desktop {
    display: none;
}

@media screen and (min-width: 768px) {

    .academy-images-container {
        height: 350px;
    }

    .academy-images {
        height: 350px;
    }

    .academy-carousel-mobile {
        display: none;
    }

    .academy-card-desktop {
        display: flex;
    }
}

@media screen and (min-width: 992px) {

    .academy-section1 {
        padding-bottom: 30px;
        margin-bottom: -50px;
    }

    .academy-intro-container {
        width: 80%;
        padding: 0 20px;
    }

    .academy-intro {
        font-size: 35px;
        line-height: 50px;
    }

    .academy-desc-container {
        width: 60%;
    }

    .academy-images-container {
        height: 740px;
    }

    .academy-images {
        height: 604px;
    }
}