:root {
    --bg-color-primary-academy: var(--fifth-color);
    --bg-color-secondary-academy: var(--fourth-color);
    --bg-color-youtube-pills: var(--second-color);
    --separator-color-academy: var(--first-color);
}

.academy-container {
    background-color: var(--bg-color-secondary-academy) !important;
    overflow-x: hidden;
}

/* ACADEMY FIRST PART */

/* Introductive section */
.academy-first-part {
    background-color: var(--bg-color-primary-academy);
    /* padding: 20px; */
    padding-top: 100px;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 10vw));
    /* position: relative; */
}

.academy-introductive-section-intro-col1 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.academy-introductive-section-intro-container {
    width: 100%;
}

.academy-introductive-section-academy-intro {
    font-weight: 400px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    margin: 0 !important;
}

.academy-introductive-section-desc-desktop {
    display: none;
}

.academy-introductive-section-desc-mobile-container {
    padding: 0 20px;
}

.academy-introductive-section-img1-container {
    height: 405px;
    margin-bottom: 40px;
    width: 100%;
}

.academy-introductive-section-img1-container .ant-image {
    /* position: absolute;
    right: -20px;
    width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.academy-introductive-section-img1 {
    height: 405px;
    border-radius: 30px 0 0 30px;
    width: 95%;
}

/* Our courses section */
.academy-ourCourses-section {
    margin-bottom: 115px;
    padding: 0 20px;
}

.academy-ourCourses-section-singleCourse-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.academy-ourCourses-section-java-container {
    border-top: 1px solid var(--separator-color-academy);
    border-bottom: 1px solid var(--separator-color-academy);
}

.academy-ourCourses-section-frontend-container {
    border-bottom: 1px solid var(--separator-color-academy);
    margin-bottom: 48px;
}

.academy-ourCourses-section-course-title-container {
    margin: 20px 0;
}

.academy-ourCourses-section-course-title {
    font-size: 40px !important;
    line-height: 45px !important;
    letter-spacing: 0.06em;
    font-weight: 500 !important;
}

.academy-courses-detail-btn {
    display: flex;
    justify-content: flex-end;
}

.academy-ourCourses-section-img-container {
    height: 289px;
}

.academy-ourCourses-section-img-container .ant-image {
    position: absolute;
    left: -20px;
}

.academy-ourCourses-section-img {
    /* width: 307px; */
    height: 289px;
    border-radius: 0 30px 30px 0;
}

.academy-ourCourses-section-youtube-container {
    position: absolute;
    width: 297px;
    height: 180px;
    background-color: var(--bg-color-youtube-pills);
    bottom: -65px;
    right: 0;
    border-radius: 30px;
    padding: 20px;
}

/* Next courses section */
.academy-next-courses-section {
    margin-bottom: 30px;
    padding: 0 20px;
}

.academy-next-courses-section-list {
    display: flex;
    align-items: center;
}

.academy-next-courses-section-course1-container {
    border-top: 1px solid var(--separator-color-academy);
    border-bottom: 1px solid var(--separator-color-academy)
}

.academy-next-courses-section-course2-container {
    border-bottom: 1px solid var(--separator-color-academy);
    margin-bottom: 30px
}

.academy-next-courses-view-all-btn {
    display: flex;
    justify-content: flex-end;
}

.academy-next-courses-section-course-info {
    font-family: 'SpaceGrotesk-Regular', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
}

/* ACADEMY SECOND PART */
.academy-second-part {
    /* padding: 0 20px; */
    margin-bottom: 30px;
}

/* Percentage section */
.academy-percentage-section {
    padding: 0 20px;
}

.academy-percentage-section-carousel {
    display: block;
    padding: 40px 0;
}

.academy-percentage-section-card {
    display: none;
}

/* Comments section */
.academy-comments-title-container {
    padding: 0 20px;
    margin-bottom: 40px;
}

.academy-comments-carousel-ant {
    padding: 40px 0px !important;
}

/* Form message section */
.academy-form-section {
    padding: 0 20px;
}


@media screen and (min-width: 768px) {

    .academy-first-part {
        padding-bottom: 40px;
    }

    .academy-introductive-section-intro-container {
        width: 80%;
        align-self: center;
    }

    .academy-introductive-section-desc-mobile {
        display: none;
    }

    .academy-introductive-section-desc-desktop {
        display: block;
    }

    .academy-percentage-section-carousel {
        display: none;
    }

    .academy-percentage-section-card {
        display: flex;
    }
}

@media screen and (min-width: 992px) {

    .academy-first-part {
        padding-bottom: 100px;
        margin-bottom: -20px;
    }

    .academy-introductive-section-intro-container {
        width: 70%;
        /* align-self: center; */
    }

    .academy-introductive-section-img1-container {
        height: 622px;
    }

    .academy-introductive-section-img1 {
        height: 622px;
    }

    .academy-ourCourses-section {
        margin-bottom: 40px;
    }

    .academy-ourCourses-section-img-container {
        height: 622px;
    }

    .academy-ourCourses-section-img {
        height: 622px;
    }

    .academy-ourCourses-section-youtube-container {
        width: 493px;
        height: 243px;
        bottom: 36px;
        right: -139px;
    }

    .academy-next-courses-section-list {
        padding: 10px 0;
    }

    .academy-comments-section-second-comment-col {
        padding-top: 80px;
    }

}

@media screen and (min-width: 1440px) {

    .academy-introductive-section-intro-container {
        align-self: flex-end;
    }
}