.menu-flags{
  padding: 0;
}
.menu-flags > ul {
  width: 60px;
  margin: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  padding: 0;
  left: auto;
}
.menu-flags > ul > li{
  line-height: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 0 15px;
  margin: 5px 0;
}

.menu-flags-button {
  border: none !important;
  justify-content: right !important;
  /* padding: 1.8vh 0; */
  padding: 0;
  margin: 0;
}
