.comments-container {
    position: relative;
    height: 345px;
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 6px 6px 30px rgba(50, 62, 72, 0.2);
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 37px auto;
}

.comments-profile-picture {
    position: absolute;
    top: -35px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-color: turquoise;
    border-radius: 100%;
}

.comments-text {
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 26px !important;
}

.comments-signature {
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 30px !important;
}

@media screen and (min-width: 768px) {
    .comments-container {
        height: 308px;
        padding: 93px 40px 40px 40px;
    }

    .comments-profile-picture {
        width: 100px;
        height: 100px;
    }
}