/* First section */
.career-first-section, .career-second-section {
  color: var(--white);
}

.career-first-section h1, .career-second-section h3 {
  text-transform: uppercase;
  padding: 30px 0 35px 0;
}

.career-first-section-description {
  padding-bottom: 50px;
}

.career-first-section-button-container {
  padding-bottom: 30px;
}

.career-first-section-button-container button:nth-child(1) {
  margin-right: 30px;
}

.career-selected-academy {
  background-color: var(--yellow) !important;
}

.career-selected-academy p,
.career-selected-job p {
  color: var(--dark-grey) !important;
}

.career-selected-job {
  background-color: var(--lightblue) !important;
}

.career-table-academy-link, .career-table-academy-link svg {
  color: var(--yellow) !important;
}

.career-table-job-link, .career-table-job-link svg {
  color: var(--lightblue) !important;
}

/* Second section */
.career-second-section {
  padding: 50px;
}

.career-empty-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.career-empty-message-container img {
  width: 20%;
  max-width: 260px;
  height: auto;
}

.career-empty-message-container p {
  text-align: center;
}


/* CAREER DETAIL */
.career-detail-container {
  padding-top: 50px;
  margin-bottom: 100px;
  color: var(--white);
}

.career-detail-container h1, .career-detail-tag {
  text-transform: uppercase;
  padding: 50px 0 35px 0;
}

.career-detail-txt-container {
  background-color: var(--grey-tone-8);
  padding: 70px 7%;
  border-top: 2px solid var(--lightblue);
}