.scroll-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.scroll-btn-text {
    font-family: 'SpaceGrotesk-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 63px;
    margin-bottom: -22px;
    color: #fff;
}

.scroll-btn-lottie{
    height: 100px;
    width: 100px
}