.banner-container {
  background-color: var(--yellow);
  padding: 50px 0;
}

.banner-container h2, .banner-container p {
  color: var(--dark-grey);
}

.banner-container h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner-container-grid {
  display: flex;
  align-items: center;
}

.banner-container-grid-col2 {
  display: flex;
  flex-direction: column !important;
}

.banner-enphasis-txt {
  font-family: var(--moderat-bold);
}

.banner-container p {
  margin: 10px 0
}

@media(min-width: 900px) {
  .banner-container h2 {
    margin-bottom: 30px;
  }
}

@media(min-width: 1024px) {
  .banner-container {
    padding: 140px 0;
  }
}