.home-fp-container {
  background-color: transparent;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  /* position: relative; */
}

.home-fp-title {
  font-weight: 500 !important;
  font-size: 25px !important;
  color: #fff !important;
  line-height: 45px !important;
}

@media screen and (min-width: 768px) {
  .home-fp-title {
    font-size: 35px !important;
  }
}

@media screen and (min-width: 992px) {
  .home-fp-title {
    font-size: 60px !important;
    line-height: 70px !important;
  }
}


@media (-webkit-min-device-pixel-ratio: 1.25) {
  .home-fp-container {
    -webkit-transform: scale(80%);
    -ms-transform: scale(80%);
    transform: scale(80%)
  }

  .scroll-btn-container {
    bottom: 0px !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.3) {
  .home-fp-container {
    -webkit-transform: scale(75%);
    -ms-transform: scale(75%);
    transform: scale(75%)
  }

  .scroll-btn-container {
    bottom: 0px !important;
  }
}