.home-fp-container {
    background-color: transparent;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    margin: 0 5%;
}

.home-fp-title {
    font-weight: 500 !important;
    font-size: 6vw !important;
    color: #fff !important;
    line-height: 10vw !important;
}

@media screen and (min-width: 768px) {
    .home-fp-container {
        margin: 0;
    }

    .home-fp-title {
        font-size: 5vw !important;
        line-height: 5.5vw !important;
    }
}

@media screen and (min-width: 992px) {
    .home-fp-title {
        font-size: 4.3vw !important;
        line-height: 5vw !important;
    }
}