:root {
    --bg-color-primary-consulting: var(--third-color);
    --bg-color-secondary-consulting: var(--fourth-color);
}

.consulting-container {
    background-color: var(--bg-color-secondary-consulting) !important;
    overflow-x: hidden;
    position: relative;
}

/* Introductive section */
.consulting-introductive-section {
    background-color: var(--bg-color-primary-consulting);
    padding-top: 100px;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 10vw));
    padding-bottom: 30px;
}

.consulting-introductive-section-container1 {
    display: flex;
    flex-direction: column;
}

.consulting-introductive-section-title-container {
    padding: 0 20px;
}


.consulting-introductive-section-intro-container {
    width: 100%;
    padding: 0 20px;
}

.consulting-introductive-section-intro {
    font-weight: 400px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    margin: 0 !important;
}

.consulting-introductive-section-images-container {
    height: 257px;
    width: 100%;
}

.consulting-introductive-section-img1-container .ant-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.consulting-introductive-section-images {
    width: 95%;
    height: 257px;
}

.consulting-introductive-section-img1 {
    border-radius: 30px 0 0 30px;
}

.consulting-introductive-section-desc-container {
    padding: 20px;
    color: #fff
}

.consulting-introductive-section-img2 {
    border-radius: 0 30px 30px 0;
}

/* Percentage section */
.consulting-percentage1-section {
    padding: 0 20px;
    margin-bottom: 30px;
}

.consulting-percentage-section-carousel {
    margin: 30px 0;
    display: block;
}

.consulting-percentage-section-card {
    display: none;
}

.consulting-percentage2-section {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {

    .consulting-introductive-section-first-row {
        margin-bottom: 80px;
    }

    .consulting-introductive-section-images-container {
        height: 350px;
    }

    .consulting-introductive-section-images {
        height: 350px;
    }

    .consulting-percentage-section-carousel {
        display: none;
    }

    .consulting-percentage-section-card {
        display: flex;
    }
}

@media screen and (min-width: 992px) {

    .consulting-introductive-section-first-row {
        margin-bottom: 0px;
    }

    .consulting-introductive-section {
        padding-bottom: 30px;
        margin-bottom: -50px;
    }

    .consulting-introductive-section-intro-container {
        width: 80%;
        padding-top: 60px;
        align-self: flex-end;
    }

    .consulting-introductive-section-intro {
        font-size: 35px;
        line-height: 50px;
    }

    .consulting-introductive-section-desc-container {
        padding-top: 60px;
    }

    .consulting-introductive-section-images-container {
        height: 740px;
    }

    .consulting-introductive-section-images {
        height: 604px;
    }
}