.custom-list-ul {
    margin: 0;
    list-style-type: none;
}

.custom-list-li {
    text-indent: -20px;
    padding: 10px 0;
}

.custom-list-li:before {
    content: "-  " !important;
}

.custom-list-li::marker {
    content: none !important;
}