/* Form Button */
.button-form-primary {
  background-color: var(--dark-grey) !important;
  text-transform: uppercase;
  color: var(--white) !important;
  padding: 12px 40px !important;
  border-radius: 0% !important;
  transition: 1s !important;
}

.button-form-primary p {
  font-family: var(--moderat-regular) !important;
}

.button-form-primary:disabled {
  background-color: var(--dark-grey) !important;
  opacity: 80%;
}

.button-form-primary:hover {
  box-shadow: 4px 5px 15px var(--dark-grey);
}

@media(min-width: 1024px) {
  .button-form-primary {
    padding: 15px 50px !important;
  }
}

/* Go back button */
.button-go-back-primary svg {
  padding-right: 15px;
}

/* Filter Button */
.button-filter-primary {
  border: 1px solid var(--grey-tone-4) !important;
  padding: 12px 40px !important;
  border-radius: 0% !important;
}

.button-filter-primary p {
  color: var(--grey-tone-4) !important;
}

.button-filter-secondary {
  padding: 5px 40px !important;
}