.tab-container {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-labels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.tab-lables {
  text-transform: uppercase !important;
  color: var(--grey-tone-1) !important;
  /* padding: 20px !important; */
}

.tab-lables:active {
  color: var(--white) !important;
}

.tab-panels-container {
  width: 100%;
  /* Remove */
  border: 1px solid red;
}

.tab-panels {
  color: var(--white)
}

@media(min-width: 768px) {
  .tab-container {
    flex-direction: row;
  }

  .tab-panels-container {
    width: 80%;
  }
}