.tab-container {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-labels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.tab-lables {
  text-transform: uppercase;
  color: var(--white);
  padding: 20px;
}

.tab-lables:active {
  color: var(--white) !important;
}

.tab-panels-container {
  /* Remove */
  border: 1px solid red;
}

.tab-panels {
  color: var(--white)
}

@media(min-width: 768px) {
  .tab-container {
    flex-direction: row;
  }
}