.noMatch-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.noMatch-container img {
  width: 100%;
  height: auto;
}

.noMatch-desktop-img-container {
  display: none;
}

.noMatch-txt-container {
  text-align: center;
}

.noMatch-txt-container p:nth-child(2) {
  margin: 20px 0;
}

@media(min-width: 1024px) {
  .noMatch-container {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .noMatch-mobile-img-container {
    display: none;
  }

  .noMatch-txt-container {
    width: 50%;
    text-align: left;
    padding-right: 40px;
  }

  .noMatch-desktop-img-container {
    display: block;
    width: 50%;
  }
}

@media(min-width: 1440px) {
  .noMatch-container {
    min-height: 750px;
  }
}