.content-container-scroll {
    background-color: transparent;
    height: 100%;
    margin: 0 5%;
}

@media screen and (min-width: 1440px) {

    .content-container-scroll {
        margin: 0 15%;
    }
}

/* media for zoomed screens */
@media (-webkit-device-pixel-ratio: 1.25) {
    .content-container-scroll {
        margin: 0 5%;
    }
}

/* safari only*/
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .content-container-scroll {
            padding: 0 15%;
        }
    }
}