.content-container-scroll {
    background-color: transparent;
    height: 100%;
    margin: 0 5%;
}

@media screen and (min-width: 1440px) {

    .content-container-scroll {
        margin: 0 15%;
    }
}


@media (-webkit-device-pixel-ratio: 1.25) {
    .content-container-scroll {
        margin: 0 5%;
    }
}
/* 
@media (-webkit-min-device-pixel-ratio: 1.3) {
    .content-container-scroll {
        margin: 0 15%;
    }
} */