:root {
    --primary-color-whoWeAre: var(--fourth-color);

    --who-we-are-value-bg: url('../../assets/images/whoWeAre/whoWeAre_vision.svg');
    --who-we-are-history-bg: url('../../assets/images/whoWeAre/history.jpg');
    --who-we-are-vision-bg: url('../../assets/images/whoWeAre/vision.jpg');
    --who-we-are-mission-bg: url('../../assets/images/whoWeAre/mission.jpg');
}

.whoWeAre-container {
    background-color: var(--primary-color-whoWeAre);
    padding-top: 100px;
    padding-bottom: 60px;
}

/* Profile section */

.whoWeAre-profile-sec {
    padding-left: 20px;
    margin-bottom: 60px;
}

.whoWeAre-profile-sec-title {
    text-transform: uppercase;
}


/* Value section */
.whoWeAre-value-img {
    background-image: var(--who-we-are-value-bg);
}

/* history section */

.whoWeAre-history-img {
    background-image: var(--who-we-are-history-bg);
}

.whoWeAre-vision-img {
    background-image: var(--who-we-are-vision-bg);
}

.whoWeAre-mission-img {
    background-image: var(--who-we-are-mission-bg);
}

@media screen and (min-width: 768px) {

    .whoWeAre-sub-section-title {
        padding-left: calc(50% + 20px);
    }

    .whoWeAre-sub-section-desc-container {
        padding: 0 20px;
    }
}

@media screen and (min-width: 1024px) {
    .whoWeAre-profile-sec {
        margin-bottom: -30px;
    }

    .whoWeAre-sub-section-title {
        padding-left: calc(50% + 100px);
    }

    .whoWeAre-sub-section-desc-container {
        padding-left: 100px;
    }

    .whoWeAre-carousel-container .react-multi-carousel-track {
        margin-bottom: 210px !important;
    }

    .whoWeAre-profile-picture-carousel {
        width: 270px;
        height: 700px !important;
    }

    .whoWeAre-single-el-carousel:hover .whoWeAre-carousel-lable-container {
        width: 270px;
        height: 380px;
        bottom: -198px;
    }

    .whoWeAre-carousel-lable-desc {
        font-size: 15px !important;
    }
}