:root {
    --primary-color-whoWeAre: var(--fourth-color);

    --who-we-are-value-bg: url('../../assets/images/whoWeAre/value.jpg');
    --who-we-are-history-bg: url('../../assets/images/whoWeAre/history.jpg');
    --who-we-are-vision-bg: url('../../assets/images/whoWeAre/vision.jpg');
    --who-we-are-mission-bg: url('../../assets/images/whoWeAre/mission.jpg');
}

.whoWeAre-container {
    background-color: var(--primary-color-whoWeAre);
    padding-top: 100px;
    padding-bottom: 60px;
}

/* Profile section */

.whoWeAre-profile-sec {
    /* margin-bottom: 60px; */
    margin: 0 5%;
}

.whoWeAre-profile-sec-title {
    text-transform: uppercase;
}


/* Value section */
.whoWeAre-value-img {
    background-image: var(--who-we-are-value-bg);
}

/* history section */

.whoWeAre-history-img {
    background-image: var(--who-we-are-history-bg);
}

.whoWeAre-vision-img {
    background-image: var(--who-we-are-vision-bg);
}

.whoWeAre-mission-img {
    background-image: var(--who-we-are-mission-bg);
}

.whoWeAre-sub-section-desc-container {
    display: none;
}

.whoWeAre-carousel-container .react-multi-carousel-track {
    margin-bottom: 30px !important;
}

@media screen and (min-width: 1024px) {

    /* .whoWeAre-profile-sec {
        margin-bottom: -30px;
    } */

    .whoWeAre-carousel-container .react-multi-carousel-track {
        margin-bottom: 80px !important;
    }

    .whoWeAre-profile-picture-carousel {
        width: 270px;
        height: 700px !important;
    }

    /* .whoWeAre-sub-section-title {
        padding-left: calc(50% + 20px);
    } */

    .whoWeAre-single-el-carousel:hover .whoWeAre-carousel-lable-container {
        width: 270px !important;
        height: 220px !important;
        bottom: -80px !important;
    }

    .whoWeAre-carousel-lable-desc {
        font-size: 18px !important;
    }


    .whoWeAre-sub-section-desc-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1440px) {

    .whoWeAre-profile-sec {
        margin: 0 15%;
    }
}