.accordion-container {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.accordion-container::before {
  display: none;
}

.accordion-container .accordion-header {
  border-bottom: 2px solid var(--yellow);
}

.accordion-header h3 {
  color: var(--white);
  font-weight: normal;
}

.accordion-icons-container {
  color: var(--yellow);
}

.expandIconWrapperMobile {
  display: none;
}

.accordion-header.Mui-expanded .expandIconWrapperMobile {
  display: block;
}

.accordion-header.Mui-expanded .collapsIconWrapperMobile {
  display: none;
}

.collapsIconWrapperDesktop,
.expandIconWrapperDesktop {
  display: none;
}

.accordion-content {
  background-color: var(--grey-tone-8);
  margin-top: 15px;
  color: var(--white);
}

.accordion-content p {
  padding: 5px 0;
}

@media(min-width: 1024px) {

  .accordion-header .MuiAccordionSummary-expandIconWrapper {
    transform: none !important;
  }

  .collapsIconWrapperMobile,
  .expandIconWrapperMobile {
    display: none;
  }

  .accordion-header.Mui-expanded .expandIconWrapperMobile {
    display: none;
  }

  .expandIconWrapperDesktop {
    display: none;
  }

  .collapsIconWrapperDesktop {
    display: block;
  }

  .accordion-header.Mui-expanded .expandIconWrapperDesktop {
    display: block;
  }

  .accordion-header.Mui-expanded .collapsIconWrapperDesktop {
    display: none;
  }


  .accordion-content {
    padding-left: 90px !important;
    padding-right: 20px !important;
  }
}