.blog-card-container {
  height: 396px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.95);
}

.blog-card-container:hover {
  transform: scale(1.02);
  filter: brightness(1);
}

.blog-card-image-container {
  width: 100%;
  height: 203px;
  padding: 0 !important;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.blog-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-text-container {
  width: 100%;
  height: calc(100% - 203px);
  background-color: rgb(101, 101, 101, 0.2);
  color: var(--white);
  font-family: var(--moderat-regular);
  padding-top: 25px;
}

.blog-card-text-title,
.blog-card-text-subtitle,
.blog-card-text-postedby {
  font-size: 30px;
  min-height: 25px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.blog-card-text-subtitle,
.blog-card-text-postedby{
  overflow: hidden;
}

.blog-card-text-subtitle {
  font-size: 20px;
  min-height: 20px;
}

.blog-card-text-description {
  font-size: 16px;
  line-height: 24px;
  min-height: 46px;
  color: #878787;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog-card-text-postedby {
  font-size: 12px;
  letter-spacing: .5px;
  margin-top: 10px;
}

.blog-card-clock-icon {
  color: var(--lightblue);
  margin-right: 3px;
}

@media (min-width: 768px) {

  .blog-card-container {
    height: 405px;
  }

  .blog-card-text-description {
    min-height: 50px;
  }

}

@media (min-width: 1024px) {

  .blog-card-container {
    height: 420px;
  }

}

@media (min-width: 1600px) {

  .blog-card-image-container {
    height: 230px;
    border-radius: 12px 12px 0 0;
  }

  .blog-card-container {
    height: 455px;
  }

}