/* Second section */
.detail-academy-second-section {
  padding-top: 50px;
}

.detail-academy-second-section h2 {
  color: var(--yellow);
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .detail-academy-second-section {
    padding-top: 150px;
  }
}