.table-default tr {
  vertical-align: bottom;
}

.table-default th, .table-default th p, .table-default td {
  color: var(--white);
  font-family: var(--moderat-regular);
}

.table-default th {
  color: var(--white);
  font-size: var(--font-size-h3-xs);
  width: 60%;
}

.table-career tr {
  border: 2px solid #fff;
  border-radius: 24px;
  margin-bottom: 18px;
}

.table-career th {
  font-size: var(--font-size-body-xs);
  text-transform: uppercase;
}

.table-career p {
  text-transform: none;
}

.table-default td {
  font-size: var(--font-size-p-xs);
}

.table-default td:last-child {
  text-transform: uppercase;
  vertical-align: baseline;
}

.table-default td:last-child svg {
  height: 30px;
  width: 30px;
  color: var(--white);
}

.table-default td a {
  color: var(--yellow);
  font-family: var(--moderat-bold);
  text-decoration: none;
}


@media(min-width: 768px) {
  .table-default th {
    font-size: var(--font-size-h3-md);
  }

  .table-career th {
    font-size: var(--font-size-body-md);
  }

  .table-default td {
    font-size: var(--font-size-p-md);
  }
}

@media(min-width:1024px) {
  .table-default th {
    width: 30%;
  }

  .table-default td:last-child {
    vertical-align: bottom;
  }

}

@media(min-width: 1600px) {
  .table-default th {
    font-size: var(--font-size-h3-xl);
  }

  .table-career th {
    font-size: var(--font-size-body-xl);
  }

  .table-default td {
    font-size: var(--font-size-p-xl);
  }
}