:root {
    --primary-color-footer: var(--first-color);
}

.generalLayout-content {
    margin-top: calc(100% - 280);
}

.generalLayout-footer {
    background-color: var(--primary-color-footer);
    padding: 20px 5%;
}


@media screen and (min-width: 1440px) {

    .generalLayout-footer {
        padding: 20px 15%;
    }
}