:root {
  --saparator-line: var(--first-color);
}

/* .sec-subtitle-container {
    margin-bottom: 40px;
} */

.separator-short-horizontal-line {
  border-top: 3px solid var(--saparator-line);
  width: 48px;
}

.separator-long-horizontal-line {
  border-top: 2px solid var(--saparator-line);
  width: 100%;
  margin-bottom: 15px;
}