.whistleblowing-padding-top {
    padding-top: var(--header-height-xs)
}

.whistleblowing-first-section-container {
    padding: 35px 0 50px;
    color: var(--white);
}

.whistleblowing-second-section-container {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: none !important;
}

.whistleblowing-third-section-container {
    padding-bottom: 60px;
    width: 100%;
    max-width: none !important;
}

.whistleblowing-buttons-container {
    display: flex;
    gap: 20px;
}

.whistleblowing-text-container {
    background-color: var(--grey-tone-8);
    color: var(--white);
    padding: 17px;
}

.whistleblowing-text-container h1 {
    margin-bottom: 5px;
    letter-spacing: .5px;
}

.whistleblowing-text-container h3 {
    margin-bottom: 15px;
    letter-spacing: .5px;
}

.whistleblowing-text-container > p {
    margin-bottom: 1.5em;
}

.whistleblowing-text-container ul {
    list-style: disc;
    margin: 0 0 1.5em 3em;
}

.whistleblowing-policy-text{
    color: var(--lightblue);
}

.whistleblowing-form-field input, .whistleblowing-form-field textarea, .whistleblowing-form-field div {
    color: white;
}

@media (min-width: 768px) {
    .whistleblowing-padding-top {
        padding-top: calc(var(--header-height-md))
    }

    .whistleblowing-text-container {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .whistleblowing-padding-top {
        padding-top: calc(var(--header-height-md) + 5px)
    }

    .whistleblowing-text-container {
        padding: 45px;
    }
}

@media(min-width: 1200px) {
    .whistleblowing-padding-top {
        padding-top: calc(var(--header-height-lg) + 5px)
    }
}

@media (min-width: 1440px) {
    .whistleblowing-text-container {
        padding: 60px;
    }
}

@media (min-width: 1600px) {
    .whistleblowing-padding-top {
        padding-top: calc(var(--header-height-xlg) + 5px)
    }

    .whistleblowing-text-container {
        padding: 70px;
    }
}