:root {
  --intro-section-img-up: url("../../../assets/images/up/up1.jpg");
}

.intro-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
}

.intro-section-img-container {
  display: none;
}

.intro-section-txt-container {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 11.2%;
  color: var(--white);
  position: relative;
}

.intro-section-name {
  font-size: var(--font-size-h1-xs);
  font-family: var(--sofiaPro-bold);
  line-height: var(--line-height-h1-xs);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro-section-up-name {
  color: var(--blue);
}

.intro-section-title {
  margin-bottom: 25px;
}

.intro-section-download-container {
  display: block;
  position: absolute;
  bottom: 20px;
}

.intro-section-up-download p {
  color: var(--blue) !important;
}

.intro-section-scroll-down-container {
  display: none;
}

/* Backgorund images */
.intro-section-img-up {
  background-image: linear-gradient(90deg, rgba(38, 46, 54, 0.74) 0%, rgba(38, 46, 54, 0.74) 35%, rgba(38, 46, 54, 0.74) 100%), var(--intro-section-img-up);
}

/* Media Queries */
@media(min-width: 768px) {
  .intro-section-txt-container {
    padding: 30px 8.3%;
  }

  .intro-section-name {
    font-size: var(--font-size-h1-md);
    line-height: var(--line-height-h1-md);
  }

  .intro-section-title {
    line-height: calc(var(--line-height-h1-md) - 10px);
  }
}

@media(min-width: 1024px) {

  .intro-section {
    height: calc(100vh - var(--header-height-md));
  }

  .intro-section-img-container {
    width: 60%;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .intro-section-img-container p {
    color: var(--grey-tone-6);
    opacity: 16%;
    font-size: 387px;
    position: absolute;
    bottom: 170px;
    font-family: 'Moderat-Bold';
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .intro-section-txt-container {
    width: 40%;
    background-image: none;
    background-color: transparent;
    padding: 30px 11.2% 50px 3%;
  }

  .intro-section-name {
    margin-bottom: 15px;
  }

  .intro-section-scroll-down-container {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}

@media(min-width: 1200px) {
  .intro-section {
    height: calc(100vh - var(--header-height-lg));
  }

  .intro-section-scroll-down-container {
    right: 60px;
  }
}

@media(min-width: 1600px) {
  .intro-section {
    height: calc(100vh - var(--header-height-xlg));
  }

  .intro-section-img-container p {
    font-size: 500px;
    bottom: 210px;
  }

  .intro-section-name {
    font-size: var(--font-size-h1-xl);
    line-height: var(--line-height-h1-xl);
  }

  .intro-section-title {
    line-height: calc(var(--line-height-h1-xl) - 10px);
  }

  .intro-section-download-container {
    bottom: 40px;
  }

  .intro-section-scroll-down-container {
    bottom: 40px;
  }
}