/* first-section */
.academy-intro-section-description {
  margin: 20px 0;
}

.academy-intro-section-apply-container {
  margin: 40px 0;
}

/* Third section */
.academy-third-section-container {
  padding: 150px 0;
}

.academy-third-section-container img {
  display: none;
}

.academy-third-section-container h2 {
  text-transform: uppercase;
  color: var(--yellow);
}

.academy-third-section-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.academy-third-section-links-container div {
  margin-bottom: 30px;
}

/* .academy-third-section-go-to-career-link-container {
  margin: 50px 0 150px 0;
  display: flex;
  justify-content: flex-end;
} */

/* Fourth section */
.academy-fourth-section-container {
  padding-top: 130px;
  color: var(--dark-grey);
  /* Remove */
  /* min-height: 800px; */
}

.academy-fourth-section-container h2 {
  text-transform: uppercase;
}

.academy-fourth-section-tab-comments {
  display: flex;
  flex-direction: column;
  min-height: 550px;
}

/* Sixth section */
.academy-sixth-section-box-form {
  margin-top: 80px;
}

@media(min-width: 1024px) {

  .academy-third-section-container {
    display: flex !important;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
  }

  .academy-third-section-img-container {
    display: flex !important;
    align-self: flex-end;
    width: 40%;
  }

  .academy-third-section-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .academy-sixth-section-box-form {
    margin-top: 100px;
  }

  .academy-fourth-section-tab-comments {
    min-height: 600px;
  }
}