/* first-section */
.academy-intro-section-description {
  margin: 20px 0;
}

.academy-intro-section-apply-container {
  margin: 40px 0;
}

/* Third section */
.academy-third-section-container {
  padding: 150px 0;
  img{
    display: none;
  }

  h2{
    text-transform: uppercase;
    color: var(--yellow);
  }

  .academy-third-section-links-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 50px 0;

    div{
      margin-bottom: 30px;

    }
  }
}

/* .academy-third-section-go-to-career-link-container {
  margin: 50px 0 150px 0;
  display: flex;
  justify-content: flex-end;
} */

/* Fourth section */
.academy-fourth-section-container {
  padding-top: 130px;
  color: var(--dark-grey);
  /* Remove */
  /* min-height: 800px; */

  h2{
    text-transform: uppercase;
  }

  .academy-fourth-section-tab-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 550px;
  }
}

/* Sixth section */
.academy-sixth-section-box-form {
  margin-top: 80px;
}

/* Seventh section */
.academy-seventh-section-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 80px;
  background-color: var(--yellow);

  p{
    color: var(--dark-grey);
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  img{
    width: 40%;
  }
}

@media(min-width: 1024px) {

  .academy-third-section-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    /* align-items: center; */
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .academy-third-section-img-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
    width: 40% !important;
  }

  .academy-third-section-container img {
    display: block !important;
    width: 100% !important;
    height: auto !important;
  }

  .academy-sixth-section-box-form {
    margin-top: 100px !important;
  }

  .academy-fourth-section-tab-comments {
    min-height: 600px !important;
  }
}