.intro-section-txt-container {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 11.2%;
  color: var(--white);
  position: relative;
}

.intro-section-consulting-name {
  color: var(--lightblue);
}

.intro-section-up-name {
  color: var(--blue);
}

.intro-section-academy-name {
  color: var(--yellow);
}

.intro-section-download-container {
  display: block;
}

.intro-section-scroll-down-container {
  display: none;
}

/* Backgorund images */
.intro-section-img-up {
  background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up1_mobile.png");
}

.intro-section-img-consulting {
  background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/consulting/consulting1_mobile.png");
}

.intro-section-img-academy {
  background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/academy/academy1_mobile.jpg");
}

/* Media Queries */
@media(min-width: 768px) {
  .intro-section-txt-container {
    padding: 30px 11.2%;
  }

  .intro-section-consulting-download a,
  .intro-section-up-download a,
  .intro-section-academy-download a {
    font-size: var(--font-size-body-md);
  }

  .intro-section-img-up {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up1_tablet.png");
  }

  .intro-section-img-consulting {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/consulting/consulting1_tablet.png");
  }

  .intro-section-img-academy {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/academy/academy1_tablet.jpg");
  }
}

@media(min-width: 1024px) {

  .intro-section-txt-img .intro-section-img-container {
    width: 55%;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .intro-section-txt-img .intro-section-img-container p {
    color: var(--grey-tone-6);
    opacity: 16%;
    font-size: 387px;
    position: absolute;
    bottom: 170px;
    font-family: 'Moderat-Bold';
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .intro-section-txt-img .intro-section-txt-container {
    width: 31.1%;
    background-image: none;
    background-color: transparent;
    padding: 70px 14.2% 50px 3%;
  }

  .intro-section-scroll-down-container {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 40px;
  }

  .intro-section-img-up {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up1_desktop.png");
  }

  .intro-section-img-consulting {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/consulting/consulting1_desktop.png");
  }

  .intro-section-img-academy {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/academy/academy1_desktop.jpg");
  }
}

@media(min-width: 1200px) {
  .intro-section {
    min-height: calc(100vh - var(--header-height-lg));
  }

  .intro-section-scroll-down-container {
    right: 60px;
  }
}

@media(min-width: 1600px) {
  .intro-section {
    min-height: calc(100vh - var(--header-height-xlg));
  }

  .intro-section-img-container p {
    font-size: 500px;
    bottom: 210px;
  }

  .intro-section-txt-container {
    padding: 30px 11.2% 50px 3%;
  }

  .intro-section-consulting-download a,
  .intro-section-up-download a,
  .intro-section-academy-download a {
    font-size: var(--font-size-body-xl);
  }

  .intro-section-scroll-down-container {
    bottom: 40px;
  }
}