:root {
  --intro-section-img-up: url("../../../../assets/images/up/up1.webp");
  --intro-section-img-consulting: url("../../../../assets/images/consulting/consulting1.webp");
  --intro-section-img-academy: url("../../../../assets/images/academy/academy1.webp");
  --download-consulting-icon: url("../../../../assets/icons/consultingDownload.svg");
  --download-up-icon: url("../../../../assets/icons/upDownload.svg");
  --download-academy-icon: url("../../../../assets/icons/academyDownload.svg");
}

.intro-section-txt-container {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 11.2%;
  color: var(--white);
  position: relative;
}

.intro-section-consulting-name {
  color: var(--lightblue);
}

.intro-section-up-name {
  color: var(--blue);
}

.intro-section-academy-name {
  color: var(--yellow);
}

.intro-section-download-container {
  display: block;
}

.intro-sec-download-icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

.intro-section-download-icon-consulting {
  background-image: var(--download-consulting-icon);
}

.intro-section-download-icon-up {
  background-image: var(--download-up-icon);
}

.intro-section-download-icon-academy {
  background-image: var(--download-academy-icon);
}

.intro-section-consulting-download span:nth-child(1),
.intro-section-up-download span:nth-child(1),
.intro-section-academy-download span:nth-child(1) {
  border-radius: 100%;
  background-color: #000;
}

.intro-section-consulting-download a,
.intro-section-up-download a,
.intro-section-academy-download a {
  font-family: var(--moderat-regular);
  font-size: var(--font-size-body-xs);
}

.intro-section-consulting-download a {
  color: var(--lightblue) !important;
  text-decoration: underline;
}

.intro-section-up-download a {
  color: var(--blue) !important;
  text-decoration: underline;
}

.intro-section-academy-download a {
  color: var(--yellow) !important;
  text-decoration: underline;
}

.intro-section-consulting-download:hover a,
.intro-section-up-download:hover a,
.intro-section-academy-download:hover a {
  text-decoration: none;
}

.intro-section-scroll-down-container {
  display: none;
}

/* Backgorund images */
.intro-section-img-up {
  background-image: var(--intro-section-img-up);
}

.intro-section-img-consulting {
  background-image: var(--intro-section-img-consulting);
}

.intro-section-img-academy {
  background-image: var(--intro-section-img-academy);
}

/* Media Queries */
@media(min-width: 768px) {
  .intro-section-txt-container {
    padding: 30px 11.2%;
  }

  .intro-section-consulting-download a,
  .intro-section-up-download a,
  .intro-section-academy-download a {
    font-size: var(--font-size-body-md);
  }
}

@media(min-width: 1024px) {

  .intro-section-txt-img .intro-section-img-container {
    width: 55%;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .intro-section-txt-img .intro-section-img-container p {
    color: var(--grey-tone-6);
    opacity: 16%;
    font-size: 387px;
    position: absolute;
    bottom: 170px;
    font-family: 'Moderat-Bold';
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .intro-section-txt-img .intro-section-txt-container {
    width: 31.1%;
    background-image: none;
    background-color: transparent;
    padding: 40px 14.2% 50px 3%;
  }

  .intro-section-scroll-down-container {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 40px;
  }
}

@media(min-width: 1200px) {
  .intro-section {
    min-height: calc(100vh - var(--header-height-lg));
  }

  .intro-section-scroll-down-container {
    right: 60px;
  }
}

@media(min-width: 1600px) {
  .intro-section {
    min-height: calc(100vh - var(--header-height-xlg));
  }

  .intro-section-img-container p {
    font-size: 500px;
    bottom: 210px;
  }

  .intro-section-txt-container {
    padding: 30px 11.2% 50px 3%;
  }

  .intro-section-consulting-download a,
  .intro-section-up-download a,
  .intro-section-academy-download a {
    font-size: var(--font-size-body-xl);
  }

  .intro-section-scroll-down-container {
    bottom: 40px;
  }
}