:root {
  --primary-menu-color: var(--first-color);
  --secondary-menu-color: #fff
}

.header-switch-language {
  display: none;
}

.header-logo {
  width: 100px;
  display: inline !important;
  z-index: 100;
}

.header-img-container {
  z-index: 100;
}

.header-logo-light {
  width: 80px;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 270px;
  color: var(--primary-menu-color)
}


@media screen and (min-width: 1024px) {
  .header-switch-language {
    display: block;
    z-index: 100;
    height: 37px !important;
  }

  .header-logo {
    width: 150px;
  }

  .heade-container-burger {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .header-logo, .header-switch-language, .burger-menu-container {
    -webkit-transform: scale(80%);
    -ms-transform: scale(80%);
    transform: scale(80%);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.3) {
  .header-logo, .header-switch-language, .burger-menu-container {
    -webkit-transform: scale(75%);
    -ms-transform: scale(75%);
    transform: scale(75%);
  }
}