.form-title-container {
  margin-bottom: 30px;
}

.form-container h2 {
  text-transform: uppercase;
  color: var(--dark-blue);
}

.form-info-container-column {
  display: none;
}

.form-field {
  width: 100%;
  margin: 10px 0px !important;
  font-family: var(--moderat-regular);
  padding-left: 10px;
}

.form-field input {
  padding-left: 10px;
}

.form-field::placeholder {
  font-family: var(--moderat-regular);
}

.form-field label {
  color: var(--grey-tone-1);
  padding-left: 10px;
}

.form-field div::after {
  border-bottom: 2px solid var(--grey-tone-1);
}

.form-text-area {
  height: 30px !important;
  border: none;
  padding-left: 10px;
  padding-top: 20px;
  border-bottom: 1px solid var(--grey-tone-1);
  margin-top: 40px;
}

.form-text-area::placeholder {
  font-size: 1rem;
  color: var(--grey-tone-1);
}

.form-agreement-container {
  position: relative;
  margin-bottom: 40px !important;
}

.form-ckeckbox-checked {
  color: var(--dark-grey) !important;
}

.form-agreement-helperText {
  position: absolute;
  bottom: -35px;
  left: 50px;
  color: #d32f2f;
  font-size: 0.75rem;
}

.form-agreement-link-modal {
  text-decoration: underline;
}

.form-agreement-link-modal:hover {
  text-decoration: none;
}

.form-submit-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px !important;
}

/* Media queries */
@media(min-width: 768px) {
  .form-agreement-helperText {
    bottom: -15px;
  }
}

@media(min-width: 900px) {
  .form-info-container-column {
    display: block;
  }

  .form-info-container p:nth-child(1), .form-info-container p:nth-child(4) {
    font-family: var(--moderat-bold);
  }

  .form-info-container p:nth-child(3) {
    margin-bottom: 20px;
  }

  .form-agreement-helperText {
    bottom: 0;
  }
}

@media(min-width: 1024px) {
  .form-field {
    margin: 20px 0px !important;
  }

  .form-text-area {
    height: 300px !important;
    border: 1px solid var(--grey-tone-1);
    margin-top: 40px !important;
  }
}