/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --placeholder-primary-form: var(--third-color);
  --text-primary-form: var(--first-color);
  --privacy-check-form: var(--second-color);
  --bg-color-form: var(--fourth-color);
  --error-color-form: var(--sixth-color)
}

.fomr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-input {
  border-radius: 30px;
  height: 50px;
  width: 100%;
}

.form-input-container {
  min-height: 6em;
}

.agreement-checkbox {
  min-height: 3.5em;
}

/* .recaptcha > div > div { // if you want put recaptcha on center
    display: flex;
    place-content: center;
} */

.form-input.ant-input {
  padding: 8px 16px !important;
  color: var(--text-primary-form) !important;
  border: 1px solid var(--text-primary-form);
}

.form-input.ant-input:hover {
  padding: 8px 16px !important;
  color: var(--text-primary-form) !important;
  border: 2px solid var(--text-primary-form) !important;
}

.form-text-area {
  background-color: transparent;
  border: 1px solid var(--text-primary-form);
  height: 219px !important;
  border-radius: 25px;
}

.form-input::-webkit-input-placeholder {
  color: var(--placeholder-primary-form);
}

.form-input::-moz-placeholder {
  color: var(--placeholder-primary-form);
}

.form-input:-ms-input-placeholder {
  color: var(--placeholder-primary-form);
}

.form-input::-ms-input-placeholder {
  color: var(--placeholder-primary-form);
}

.form-input::placeholder {
  color: var(--placeholder-primary-form);
}

.form-text-area::-webkit-input-placeholder {
  color: var(--text-primary-form);
}

.form-text-area::-moz-placeholder {
  color: var(--text-primary-form);
}

.form-text-area:-ms-input-placeholder {
  color: var(--text-primary-form);
}

.form-text-area::-ms-input-placeholder {
  color: var(--text-primary-form);
}

.form-text-area::placeholder {
  color: var(--text-primary-form);
}

.form-input-condition {
  color: var(--privacy-check-form) !important;
}


.form-policy-privacy-link {
  color: var(--privacy-check-form) !important;
  text-decoration: underline;
}

.input-error {
  color: var(--error-color-form);
}

.input-inLine-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

/* @media screen and (min-width: 768px) {
    .form-text-area {
        height: 90px !important;
    }
} */

@media screen and (min-width: 1024px) {
  .form-text-area {
    height: 242px !important;
  }
}

/* CHANGE ORIGINAL CLASS CSS OF ANT DESIGN*/

.ant-checkbox-wrapper .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: var(--placeholder-primary-form) !important;
  border-radius: 50px !important;
  outline-color: var(--third-color) !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: var(--placeholder-primary-form) !important;
  border-radius: 50px !important;
  outline-color: var(--third-color) !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--text-primary-form) !important;
  outline-color: var(--third-color) !important;
  border-color: var(--bg-color-form) !important;
}

.ant-checkbox-inner {
  border: 1px solid var(--bg-color-form) !important;
}

.ant-checkbox-checked::after {
  border: none !important;
}

.ant-checkbox-checked::before {
  border: none !important;
}

.ant-input:hover {
  border-color: var(--text-primary-form) !important;
  outline-color: var(--text-primary-form) !important;
  /* box-shadow: 0 0 0 2px rgb(50 62 72 / 20%); */
  -webkit-box-shadow: none;
  box-shadow: none;

}

.ant-input:focus, .ant-input-focused {
  border-color: var(--text-primary-form);
  /* box-shadow: 0 0 0 2px rgb(50 62 72 / 20%); */
  -webkit-box-shadow: none;
  box-shadow: none;

}


.ant-form-item-explain.ant-form-item-explain-error {
  color: var(--error-color-form);
  font-size: 12px;
}

.ant-form-item-explain.ant-form-item-explain-error:hover {
  color: var(--error-color-form);
}

.ant-form-item-has-error {
  border: 1px solid var(--error-color-form) !important;
}

.form-input.ant-input.ant-form-item-has-error:hover {
  border: 2px solid var(--error-color-form) !important;
}

/* .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  border-color: var(--error-color-form);
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input-focused, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused {
  border-color: var(--error-color-form);
  /* box-shadow: 0 0 0 2px rgb(177 32 9 / 20%); *
  -webkit-box-shadow: none;
  box-shadow: none;
} */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}



.ant-input {
  font-family: 'Moderat-Regular', sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 30px !important;
  letter-spacing: 0.06em !important;
}

@media screen and (min-width: 992px) {
  .ant-input {
    font-size: 22px;
    line-height: 30px;
  }
}