/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --profile_chiara_balsamini: url("../../../assets/images/profile_picture/chiara_balsamini.jpg");
  --profile_erica_mauro: url("../../../assets/images/profile_picture/erica_mauro.jpg");
  --profile_francesca_bellini: url("../../../assets/images/profile_picture/francesca_bellini.jpg");
  --profile_francesca_ferioli: url("../../../assets/images/profile_picture/francesca_ferioli.jpg");
  --profile_francesco_cesana: url("../../../assets/images/profile_picture/francesco_cesana.jpg");
  --profile_ivo_mosca: url("../../../assets/images/profile_picture/ivo_mosca.jpg");
  --profile_maria_rodrigez: url("../../../assets/images/profile_picture/maria_rodrigez.jpg");
  --profile_marianna_fulginiti: url("../../../assets/images/profile_picture/marianna_fulginiti.jpg");
  --profile_roberto_brogi: url("../../../assets/images/profile_picture/roberto_brogi.jpg");
}

.swiper {
  padding: 50px 0px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  aspect-ratio: 1 / 1;
  /* min-height: 144px; */
}

.swiper-slide p {
  color: var(--white);
  padding-left: 10px;
}

.swiper-slide p:nth-child(1) {
  text-transform: uppercase;
}

.swiper-slide p:nth-child(2) {
  padding-bottom: 10px;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--dark-grey);
}


/* Bg pictures */
.carousel-bg-francesco-cesana {
  background-image: var(--profile_francesco_cesana);
}

.carousel-bg-erica-mauro {
  background-image: var(--profile_erica_mauro);
}

.carousel-bg-chiara-balsamini {
  background-image: var(--profile_chiara_balsamini);
}

.carousel-bg-marianna-fulginiti {
  background-image: var(--profile_marianna_fulginiti);
}

.carousel-bg-roberto-brogi {
  background-image: var(--profile_roberto_brogi);
}

.carousel-bg-ivo-mosca {
  background-image: var(--profile_ivo_mosca);
}

.carousel-bg-farcesca-ferioli {
  background-image: var(--profile_francesca_ferioli);
}

.carousel-bg-maria-rodrigez {
  background-image: var(--profile_maria_rodrigez);
}

.carousel-bg-francesca-bellini {
  background-image: var(--profile_francesca_bellini);
}

/* @media(max-width: 400px) {
  .swiper-slide {
    height: 190px;
  }
} */

@media(max-width: 600px) {
  /* .swiper-slide {
    height: 200px;
  } */

  .swiper-slide p {
    font-size: 0.7rem;
  }
}

@media(min-width: 768px) {
  /* .swiper-slide {
    height: 240px;
  } */

  .swiper-button-prev, .swiper-button-next {
    color: var(--white);
    display: block;
  }

  .swiper-button-prev {
    left: 70px;
  }

  .swiper-button-next {
    right: 70px;
  }

  .swiper-pagination-bullet {
    display: none;
  }
}

@media(min-width: 1024px) {
  .swiper-slide p {
    padding-left: 30px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(4px, -2px, 60px);
    transform: translate3d(4px, -2px, 60px);
  }

  .swiper-slide-prev p {
    -webkit-transform: translate3d(-33px, -2px, 60px);
    transform: translate3d(-33px, -2px, 60px);
  }

  .swiper-slide-next p {
    -webkit-transform: translate3d(33px, -2px, 60px);
    transform: translate3d(33px, -2px, 60px);
  }

  .swiper-slide p:nth-child(2) {
    padding-bottom: 30px;
  }
}