:root {
  --profile_chiara_balsamini: url("../../../assets/images/profile_picture/chiara_balsamini.jpg");
  --profile_erica_mauro: url("../../../assets/images/profile_picture/erica_mauro.jpg");
  --profile_francesca_bellini: url("../../../assets/images/profile_picture/francesca_bellini.jpg");
  --profile_francesca_ferioli: url("../../../assets/images/profile_picture/francesca_ferioli.jpg");
  --profile_francesco_cesana: url("../../../assets/images/profile_picture/francesco_cesana.jpg");
  --profile_ivo_mosca: url("../../../assets/images/profile_picture/ivo_mosca.jpg");
  --profile_maria_rodrigez: url("../../../assets/images/profile_picture/maria_rodrigez.jpg");
  --profile_marianna_fulginiti: url("../../../assets/images/profile_picture/marianna_fulginiti.jpg");
  --profile_roberto_brogi: url("../../../assets/images/profile_picture/roberto_brogi.jpg");

  --caseStudies-youthquake: url("../../../assets/images/up/caseStudies/youthquake.jpg");
}

.swiper {
  padding: 50px 0px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  aspect-ratio: 1 / 1;
  /* min-height: 144px; */
}

.swiper-slide p {
  color: var(--white);
  padding-left: 10px;
}

.swiper-slide p:nth-child(1) {
  text-transform: uppercase;
}

.swiper-slide p:nth-child(2) {
  padding-bottom: 10px;
}

.swiper-slide p:nth-child(3) {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--dark-grey);
}

/* CSS ONLY FOR UP PAGE */
.swiper-container-up .swiper-slide-next, .swiper-container-up .swiper-slide-prev {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.swiper-container-up .swiper-slide-active {
  cursor: pointer;
}

.swiper-container-up .swiper-slide p:nth-child(2) {
  padding-bottom: 20px;
}

.swiper-container-up .swiper-slide-active .swipe-txt-container {
  background-color: rgb(38, 46, 54, 0.8);
}

.swiper-container-up .swiper-slide-next .swipe-txt-container, .swiper-container-up .swiper-slide-prev .swipe-txt-container {
  display: none;
}


/* BG PICTURE */
/* for home */
.carousel-bg-francesco-cesana {
  background-image: var(--profile_francesco_cesana);
}

.carousel-bg-erica-mauro {
  background-image: var(--profile_erica_mauro);
}

.carousel-bg-chiara-balsamini {
  background-image: var(--profile_chiara_balsamini);
}

.carousel-bg-marianna-fulginiti {
  background-image: var(--profile_marianna_fulginiti);
}

.carousel-bg-roberto-brogi {
  background-image: var(--profile_roberto_brogi);
}

.carousel-bg-ivo-mosca {
  background-image: var(--profile_ivo_mosca);
}

.carousel-bg-maria-rodrigez {
  background-image: var(--profile_maria_rodrigez);
}

.carousel-bg-francesca-bellini {
  background-image: var(--profile_francesca_bellini);
}

/* for up */
.carousel-bg-youthquake {
  background-image: var(--caseStudies-youthquake);
}


@media(max-width: 600px) {
  .swiper-slide p {
    font-size: 0.7rem;
  }
}

@media(min-width: 768px) {

  .swiper-button-prev, .swiper-button-next {
    color: var(--white);
    display: block;
  }

  .swiper-button-prev {
    left: 70px;
  }

  .swiper-button-next {
    right: 70px;
  }

  .swiper-pagination-bullet {
    display: none;
  }
}

@media(min-width: 1024px) {
  .swiper-slide-active .swipe-txt-container {
    background-color: rgb(38, 46, 54, 0.6);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(4px, -2px, 60px);
    transform: translate3d(4px, -2px, 60px);
    margin: 0px 20px 20px 20px;
  }

  .swiper-slide p {
    padding-left: 30px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(4px, -2px, 60px);
    transform: translate3d(4px, -2px, 60px);
    width: 90%;
    font-size: 1rem;
    line-height: 23px;
  }

  .swiper-slide-active p {
    padding-left: 15px;
  }

  .swiper-slide-prev .swipe-txt-container {
    margin: 0 30px
  }

  .swiper-slide-next .swipe-txt-container {
    margin: 0 30px 0 -30px;
  }

  .swiper-slide-prev p {
    -webkit-transform: translate3d(-33px, -2px, 60px);
    transform: translate3d(-33px, -2px, 60px);
  }

  .swiper-slide-next p {
    -webkit-transform: translate3d(33px, -2px, 60px);
    transform: translate3d(33px, -2px, 60px);
  }

  .swiper-slide-active p:nth-child(1) {
    padding-top: 10px;
  }

  .swiper-slide p:nth-child(3) {
    display: block;
    padding-bottom: 10px;
  }

  /* CSS ONLY FOR UP PAGE */
  .swiper-container-up .swiper-slide-active .swipe-txt-container {
    background-color: rgb(38, 46, 54, 0.6);
  }
}

@media(min-width:1600px) {
  .swiper-slide-active .swipe-txt-container {
    padding: 0 20px;
  }

  .swiper-slide p:nth-child(3) {
    padding-bottom: 25px;
  }
}