:root {
    --prmary-color-divider: var(--first-color);

    --value_bg: url(../../../assets/images/home/home_value.svg);
    --history_bg: url(../../../assets/images/home/home_value.svg);
    --mission_bg: url(../../../assets/images/home/home_value.svg);
    --vision_bg: url(../../../assets/images/home/home_value.svg);

}

.sec-section-card-col {
    padding: 0 20px;
    max-height: 500px;
}

.sec-section-title {
    align-self: flex-start;
}

.sec-section-bgImg {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: end;
    border-radius: 50px;
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-section-bg1 {
    background-image:
        linear-gradient(180deg, #323E48 0%, rgba(113, 126, 133, 0.726354) 54.69%, rgba(214, 227, 229, 0.29) 100%),
        var(--value_bg);
}

.sec-section-bg1:hover {
    background-image: var(--value_bg);
}

.sec-section-bg2 {
    background-image:
        linear-gradient(180deg, #323E48 0%, rgba(113, 126, 133, 0.726354) 54.69%, rgba(214, 227, 229, 0.29) 100%),
        var(--history_bg);
}

.sec-section-bg2:hover {
    background-image: var(--history_bg);
}

.sec-section-bg3 {
    background-image:
        linear-gradient(180deg, #323E48 0%, rgba(113, 126, 133, 0.726354) 54.69%, rgba(214, 227, 229, 0.29) 100%),
        var(--mission_bg);
}

.sec-section-bg3:hover {
    background-image: var(--mission_bg);
}

.sec-section-bg4 {
    background-image:
        linear-gradient(180deg, #323E48 0%, rgba(113, 126, 133, 0.726354) 54.69%, rgba(214, 227, 229, 0.29) 100%),
        var(--vision_bg);
}

.sec-section-bg4:hover {
    background-image: var(--vision_bg);
}

@media screen and (min-width: 768px) {
    .sec-section-title {
        font-size: 25px !important;
    }
}

@media screen and (min-width: 1024px) {
    .sec-section-title {
        font-size: 30px !important;
    }

    .sec-section-bgImg {
        height: 300px;
    }

    .sec-section-card-col {
        padding: 0 20px;
        border-right: 1px solid var(--prmary-color-divider);
    }
}