:root {
    --bg-primary-aDeteils: var(--fifth-color);
    --text-line-primary-color-aDeteils: var(--first-color)
}

.aDeteils-container {
    padding-top: 80px;
    background-color: var(--bg-primary-aDeteils);
    overflow-x: hidden;
}

/* Introductive section */
.aDeteils-introductive-section-goBack-btn {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.aDeteils-introductive-section-title-container {
    padding: 0 20px;
    margin-top: 20px;
}

.aDeteils-introductive-section-intro-col1 {
    display: flex;
    flex-direction: column;
}

.aDeteils-introductive-section-intro-container {
    width: 100%;
}

.aDeteils-introductive-section-desc-desktop {
    display: none;
}

.aDeteils-introductive-section-desc-mobile-container {
    padding: 0 20px;
}

.aDeteils-introductive-section-desc-mobile {
    margin-top: 30px;
}

.aDeteils-introductive-section-img1-container {
    height: 300px;
    margin-bottom: 20px;
    width: 100%;
}

.aDeteils-introductive-section-img1-container .ant-image {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aDeteils-introductive-section-img1 {
    height: 300px;
    border-radius: 30px 0 0 30px;
    width: 100%;
}

.aDeteils-introductive-section-btn-candidate {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 0 20px;
}


/* Program section */
.aDeteils-program-section {
    padding: 20px;
}

/* structure */
.aDeteils-program-section-structure-rows {
    margin: 30px 0;
}

.aDeteils-program-section-structure-arrow-ul {
    font-weight: bold !important;
    font-size: 25px !important;
}

.aDeteils-program-section-structure-row-title {
    font-size: 20px !important;
    font-weight: bold;
}

.aDeteils-program-section-structure-text {
    line-height: 39px !important;
}

/* program */
.aDeteils-program-section-program-panel {
    border-top: 1px solid var(--text-line-primary-color-aDeteils);
    min-height: 70px;
    padding: 20px 0;
}

.aDeteils-program-section-program-panel .ant-collapse-header {
    font-family: 'Moderat-Regular', sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 35px !important;
    letter-spacing: 0.06em !important;
}

.aDeteils-program-section-program-panel .ant-collapse-content {
    margin-top: 50px !important;
    font-family: 'Moderat-Regular', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 35px !important;
    letter-spacing: 0.06em !important;
}

@media screen and (min-width: 768px) {

    .aDeteils-introductive-section-intro-container {
        width: 70%;
        align-self: center;
    }

    .aDeteils-introductive-section-desc-desktop {
        display: block;
    }

    .aDeteils-introductive-section-desc-mobile {
        display: none;
    }

    .aDeteils-introductive-section-intro-col1 {
        padding-top: 40px;
    }
}


@media screen and (min-width: 992px) {

    .aDeteils-introductive-section-intro-container {
        width: 60%
    }

    .aDeteils-introductive-section-intro-col1 {
        padding-top: 60px;
    }

    .aDeteils-introductive-section-img1-container {
        height: 423px;
    }

    .aDeteils-introductive-section-img1 {
        height: 423px;
    }
}

@media screen and (min-width: 1440px) {

    .aDeteils-introductive-section-intro-container {
        align-self: center;
        width: 50%
    }
}