.case-studies-detail-container {
  padding-top: 70px;
  padding-bottom: 70px;
  color: var(--white);
}

.case-studies-detail-img-container {
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-studies-detail-btn-container {
  margin-bottom: 50px;
}

.case-studies-detail-img-container img {
  width: 80%;
  height: auto;
  margin: 20px 0;
}

.case-studies-detail-txt-container {
  background-color: var(--grey-tone-8);
  padding: 30px 10%;
}

.case-studies-detail-txt-container h1 {
  margin-top: 50px;
}

.case-studies-detail-txt-container h2, .case-studies-detail-txt-container p {
  margin: 30px 0;
}

.case-studies-detail-txt-container p {
  margin-top: 50px;
}

@media(min-width: 1024px) {
  .case-studies-detail-img-container {
    min-height: 500px;
  }

  .case-studies-detail-img-container img {
    width: 50%;
    margin: 50px 0;
  }

  .case-studies-detail-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media(min-width: 1920px) {
  .case-studies-detail-img-container img {
    width: 40%;
  }
}