:root {
  --primary-bg-color-up: var(--second-color);
  --secondary-bg-color-up: var(--fourth-color);

  --up-bg1: url('../../assets/images/up/up1.jpg');
  --up-bg2: url('../../assets/images/up/up2.jpg');
  --up-case-studies: url('../../assets/images/up/upCaseStudies.svg');

  --up-comments-profile-picture1: url('../../assets/images/comments/img_comments.jpg');
  --up-comments-profile-picture2: url('../../assets/images/comments/img_comments.jpg');
}

.up-container {
  background-color: var(--primary-bg-color-up);
  overflow-x: hidden;
  position: relative;
}

.up-bg1 {
  background-image: var(--up-bg1);
}

.up-bg2 {
  background-image: var(--up-bg2);
}

.up-intro-sec-desc3-row {
  padding: 30px 5%;
}

/* POLYGEN SECTION */
.up-section-polygen {
  background-color: var(--secondary-bg-color-up);
  padding: 0 5%;
  -webkit-clip-path: polygon(100% calc(100% - 95%), 100% 100%, 0 calc(100% - 5%), 0 0);
  clip-path: polygon(100% calc(100% - 95%), 100% 100%, 0 calc(100% - 5%), 0 0);
}

/* .up-comments-title-container {
    padding: 0 5%;
} */

.up-comments-profile-picture1 {
  background-image: var(--up-comments-profile-picture1);
}

.up-comments-profile-picture2 {
  background-image: var(--up-comments-profile-picture2);
}

.up-short-line {
  border-top: 3px solid #fff;
  width: 48px;
}

.up-case-studies-section {
  padding: 20px 20px 40px 20px;
}

.up-case-studies-title {
  color: #fff !important;
}

.up-long-line {
  border-top: 2px solid #fff;
  width: 100%;
  margin-bottom: 15px;
}

.up-case-studies-container {
  height: 272px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.4%, rgba(221, 44, 44, 0.7)), color-stop(94.88%, rgba(72, 116, 147, 0.7))), var(--up-case-studies);
  background-image: -o-linear-gradient(bottom, rgba(221, 44, 44, 0.7) 0.4%, rgba(72, 116, 147, 0.7) 94.88%), var(--up-case-studies);
  background-image: linear-gradient(360deg, rgba(221, 44, 44, 0.7) 0.4%, rgba(72, 116, 147, 0.7) 94.88%), var(--up-case-studies);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 30px;
}

.up-case-studies-title {
  color: #fff;
  font-family: 'SpaceGrotesk-Regular', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.06em;
}

.up-case-studies-desktop {
  display: none;
}

.up-case-studies-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.up-case-studies-btn {
  color: #fff;
  margin-right: 10px;
}


/* Form section */
.up-polygen-clip-path {
  -webkit-clip-path: polygon(100% calc(100% - 95%), 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% calc(100% - 95%), 100% 100%, 0 100%, 0 0);
}

.up-form-section {
  margin: 40px 5%;
}

.up-form-title {
  color: #fff !important;
}

.up-form-desc {
  color: #fff !important;
}

.up-form-text-area {
  background-color: transparent;
  border: 1px solid #fff;
  height: 219px !important;
  border-radius: 25px;
}

.up-form-text-area::-webkit-input-placeholder {
  color: #fff !important;
}

.up-form-text-area::-moz-placeholder {
  color: #fff !important;
}

.up-form-text-area:-ms-input-placeholder {
  color: #fff !important;
}

.up-form-text-area::-ms-input-placeholder {
  color: #fff !important;
}

.up-form-text-area::placeholder {
  color: #fff !important;
}


@media screen and (min-width: 768px) {

  .up-intro-section-paragraph {
    width: 80%;
    margin: 0 auto;
  }

  .up-case-studies-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
  }

  .up-case-studies-container {
    width: 95%;
    margin: 0 auto 40px auto;
  }

}

@media screen and (min-width: 1024px) {


  .up-form-text-area {
    height: 242px !important;
  }
}

@media screen and (min-width: 1440px) {

  .up-intro-sec-desc3-row {
    padding: 0px 15%;
  }

  .up-section-polygen {
    padding: 0 15%;
  }

  .up-form-section {
    margin: 90px 15%;
  }

}