/* First section */
.first-section-list-container {
  margin: 30px 0 50px 0;

  p {
    margin: 5px 0;
  }
}

/* Second section */
.up-second-section {
  padding-left: 11.2% !important;
  padding-right: 11.2% !important;

  .up-second-section-all-texts-external-container {
    padding: 50px 0px;

    .up-second-section-text-container {
      color: var(--white);

      .up-second-section-text-span-desktop {
        display: none;
      }

    }
    .up-second-section-text-mobile-container {
      text-transform: uppercase;
      color: var(--blue);
      margin: 20px 0px;
    }


  }
}



/* Third section */
.up-third-section,
.consulting-third-section {
  padding: 100px 0;
  color: var(--white);
}

.up-third-section{
  h2{
    text-transform: uppercase;

  }
}

/* Fourth section */
.up-fourth-section {
  background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up3_mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  padding-top: 60px;

  h2{
    color: var(--white);
    text-transform: uppercase;
  }
}

/* Fifth section */
.up-fifth-section-container {
  position: absolute;
  bottom: -130px;
  left: 0px;
}

/* Sixth section */
.up-sixth-section-container {
  background-color: var(--white);
  padding-bottom: 80px;
  padding-top: 40px;
}


.up-sixth-section-box-form {
  margin-top: 150px;
}


/* Media queries */

@media(min-width: 768px) {

  .up-fourth-section {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up3_tablet.png") !important;
    padding-top: 100px !important;
    min-height: 450px !important;
  }

  .up-fifth-section-container {
    bottom: -215px !important;
    padding: 0 11.2% !important;
  }

  .up-sixth-section-box-form {
    margin-top: 250px !important;
  }

}

@media(min-width: 1024px) {
  .first-section-list-container {
    margin: 25px 0 !important;
  }

  .up-second-section {
    min-height: 100vh !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    padding: 0px !important;
  }

  .up-second-section-box-img {
    width: 53% !important;
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up2_desktop.png") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .up-second-section-all-texts-external-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    width: 60% !important;
    margin: 150px 0px !important;
    padding-bottom: 150px !important;
  }

  .up-second-section-all-texts-container {
    width: 60% !important;
    padding: 70px !important;
  }

  .up-second-section-text-span-desktop {
    display: inline !important;
  }

  .up-second-section-text-mobile-container {
    display: none !important;
  }

  .up-third-section,
  .consulting-third-section {
    margin-top: -300px !important;
    padding-top: 200px !important;
  }

  .up-fourth-section {
    background-image: url("https://beije-people-first.s3.eu-south-1.amazonaws.com/site/images/up/up3_desktop.png") !important;
  }

  .up-fifth-section-container {
    padding: 0 14.7% !important;
  }

  .up-sixth-section-box-form {
    margin-top: 300px !important;
  }
}

@media(min-width: 1200px) {
  .first-section-list-container {
    margin: 20px 0 20px 0 !important;
  }

  .up-logo-bg {
    height: 50% !important;
  }

  .up-fourth-section {
    min-height: 400px !important;
  }

  .up-fifth-section-container {
    bottom: -240px !important;
  }

  .up-sixth-section-box-form {
    margin-top: 300px !important;
  }
}

@media(min-width: 1600px) {
  .first-section-list-container {
    margin: 25px 0 !important;
  }

  .up-logo-bg {
    height: 60% !important;
  }

  .up-third-section {
    margin-top: -160px !important;
    padding-top: 235px !important;
  }

  .up-fourth-section {
    min-height: 600px !important;
  }

  .up-fifth-section-container {
    bottom: -330px !important;
  }

  .up-sixth-section-box-form {
    margin-top: 500px !important;
  }
}