.select-file-class{
    color: white !important;
}

.select-file-paragraph{
    color: white !important;
    display: flex;
    margin-top: 10px !important;
}

.select-file-paragraph svg{
    margin-left: 5px !important;
}

.select-file-paragraph svg:hover{
    cursor:pointer;
}