:root {
  --first-color: #323e48;
  --second-color: #52798e;
  --third-color: #9ec1db;
  --fourth-color: #d6e3e5;
  --fifth-color: #feef87;
  --sixth-color: #b12009;
}

@font-face {
  font-family: 'Moderat';
  src: url('./assets/font/Moderat/Moderat-Regular.woff');
  font-weight: normal;
}

/* font-style: normal;
letter-spacing: 0.06em; */


@font-face {
  font-family: 'Moderat';
  src: url('./assets/font/Moderat/Moderat-Bold.woff');
  font-weight: bold;
}

body {
  overflow: overlay;
  background-color: #FAFAFA;
  margin: 0;
  font-family: 'Moderat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.06em;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: 'SpaceGrotesk-Regular', sans-serif !important;
  src: url('./assets/font/Space_Grotesk/SpaceGrotesk-Regular.ttf') !important;
  /* font-family: 'Moderat';
  src: url('./assets/font/Moderat/Moderat-Bold.woff'); */
  letter-spacing: 0.06em;
}

h1 {
  font-weight: 500 !important;
  font-size: 40px !important;
  line-height: 45px !important;
}

.grotesk-font {
  font-family: 'SpaceGrotesk-Regular', sans-serif;
  src: url('./assets/font/Space_Grotesk/SpaceGrotesk-Regular.ttf');
}

/* Added classes */
/* ex. ad classes for title weight */

/* Notification error class */
.notification-error {
  background-color: var(--sixth-color) !important;
  color: #FAFAFA;
}

.notification-error .ant-notification-notice-message,
.notification-error .ant-notification-notice-close {
  color: #FAFAFA;
  font-weight: bold;
}

/* Notification success class */
.notification-success {
  background-color: #52BF90 !important;
  color: #FAFAFA;
}

.notification-success .ant-notification-notice-message,
.notification-success .ant-notification-notice-close {
  color: #FAFAFA;
  font-weight: bold;
}

.ant-layout-header {
  line-height: 50px;
  background-color: #FAFAFA;
}

/* Menu */
@media only screen and (max-width: 767px) {
  .ant-layout-has-sider>aside {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
  }

  .ant-layout-sider-collapsed~.menu-left-overlay {
    display: none;
  }

  .menu-left-overlay {
    width: 100vw;
    height: 100vh;
    background: #000c17;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9
  }
}


/* General classes */
/* .ant-layout-content {
  padding: 25px;
} */

.ant-list-item-meta-title {
  margin: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.w-100 {
  width: 100%;
}

.hidden {
  display: none;
}

.padding-30 {
  padding: 30px;
}

.icon-small {
  font-size: 16px !important;
  cursor: pointer;
}

.icon-medium {
  font-size: 22px !important;
  cursor: pointer;
}

.icon-large {
  font-size: 24px !important;
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.min-h-100vh {
  min-height: 100vh;
}

.p-relative {
  position: relative;
}

.fw-bold {
  font-weight: bold;
}

.user-right>span {
  margin: 5px;
}

.user-right {
  font-size: 24px;
}

.container-spinner-positioning {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 38, 84, 0.2);
  z-index: 1;
}

.spinner-positioning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-positioning .ant-spin-dot-item {
  background-color: #002654 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.actions-container {
  display: flex;
  justify-content: space-around;
}

.list-actions {
  color: #000;
}

.ant-list-header {
  background-color: #FAFAFA;
}

.mb-1em {
  margin-bottom: 1em;
}

.mb-2em {
  margin-bottom: 2em;
}

.mt-1em {
  margin-top: 1em;
}

.mr-10px {
  margin-right: 10px;
}

/* Added classes */

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-light {
  color: #fff !important;
}

.txt-light2 {
  color: var(--third-color) !important;
}

.txt-dark {
  color: var(--first-color) !important;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.circular-btn {
  border-radius: 50% !important;
}

/* .bold-400 {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bold-700 {
  font-weight: 700;
} */

.cursor-pointer {
  cursor: pointer;
}

.header-ant-style {
  position: fixed;
  width: 100%;
  padding: 5px 25px;
  background-color: transparent;
  z-index: 2;
  line-height: 64px !important;
  max-width: 1400px;
}

.header-ant-general-style {
  width: 100%;
  padding: 5px 25px;
  background-color: transparent;
  line-height: 64px !important;
  max-width: 1400px;
}

@media screen and (min-width: 1400px) {
  .header-ant-style {
    left: calc(50% - 700px);
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.width-100 {
  width: 100%
}

.height-100 {
  height: 100%;
}