:root {
  --white: #fff;
  --light-grey: #D8D8D8;
  --grey-tone-1: #A6A6A6;
  --grey-tone-2: #A2A2A2;
  --grey-tone-3: #979797;
  --grey-tone-4: #707070;
  --grey-tone-5: #838383;
  --grey-tone-6: #656565;
  --dark-grey: #262E36;
  --grey-tone-7: #929292;
  --grey-tone-8: #2F353C;
  --light-silver: #D6CDCD;
  --red: #b12009;
  --lightblue: #9EC1DB;
  --yellow: #feef87;
  --dark-blue: #323e48;
  --blue: #52798e;

  --ginra-regular: "ginra-regular", sans-serif;
  --ginra-bold: "ginra-bold", sans-serif;
  --ginra-regular: "ginra-regular", sans-serif;
  --ginra-bold: "ginra-bold", sans-serif;

  --font-size-body-xs: 1rem;
  --line-height-body-xs: 1.8rem;
  --font-size-h1-xs: 3.2rem;
  --line-height-h1-xs: 3.6rem;
  --font-size-h2-xs: 2.4rem;
  --line-height-h2-xs: 2.8rem;
  --font-size-h3-xs: 1.6rem;
  --line-height-h3-xs: 2rem;
  --font-size-more-h4-xs: 0.95rem;
  --line-height-more-h4-xs: 1.35rem;


  --font-size-body-md: 1.2rem;
  /* change from 1.4 */
  --line-height-body-md: 1.8rem;
  --font-size-h1-md: 3.6rem;
  --line-height-h1-md: 4rem;
  --font-size-h2-md: 2.8rem;
  --line-height-h2-md: 3.2rem;
  --font-size-h3-md: 2rem;
  --line-height-h3-md: 2.4rem;
  --font-size-more-h4-md: 1.35rem;
  --line-height-more-h4-md: 1.75rem;

  --font-size-body-xl: 1.5rem;
  /* change from 1.8 */
  --line-height-body-xl: 2.2rem;
  --font-size-h1-xl: 4rem;
  --line-height-h1-xl: 4.2rem;
  --font-size-h2-xl: 3.2rem;
  --line-height-h2-xl: 3.4rem;
  --font-size-h3-xl: 2.4rem;
  --line-height-h3-xl: 2.6rem;
  --font-size-more-h4-xl: 1.75rem;
  --line-height-more-h4-xl: 2.15rem;

  --header-height-xs: 72px;
  /*xs - 320px*/
  --header-height-md: 88px;
  /*md- 768px*/
  --header-height-lg: 99px;
  /*lg - 1200px*/
  --header-height-xlg: 147px;
  /*xlg - 1600px*/

  --photos-filter: linear-gradient(90deg, rgba(38, 46, 54, 0.74) 0%, rgba(38, 46, 54, 0.74) 35%, rgba(38, 46, 54, 0.74) 100%);
  --o-photos-filter: -o-linear-gradient(left, rgba(38, 46, 54, 0.74) 0%, rgba(38, 46, 54, 0.74) 35%, rgba(38, 46, 54, 0.74) 100%);
  --webkit-photos-filter: -webkit-linear-gradient(left top, right top, from(rgba(38, 46, 54, 0.74)), color-stop(35%, rgba(38, 46, 54, 0.74)), to(rgba(38, 46, 54, 0.74)));
}

* {
  margin: 0;
}

/* FONTS */

/* @font-face {
  font-family: 'MyWebFont';
  src: url('webfont.otf') format('otf'),
    url('webfont.woff') format('woff');
} */

@font-face {
  font-family: "ginra-regular";
  src: url("./assets/font/ginora-sans-webfont/ginra_sans_light-webfont.woff"), url("./assets/font/ginora-sans-webfont/ginra_sans_light-webfont.woff2"), url("./assets/font/ginora-sans-webfont/ginra_sans_light-webfont.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ginra-bold";
  src: url("./assets/font/ginora-sans-webfont/ginra_sans_bold-webfont.woff"), url("./assets/font/ginora-sans-webfont/ginra_sans_bold-webfont.woff2"), url("./assets/font/ginora-sans-webfont/ginra_sans_bold-webfont.ttf");
  font-display: swap;
}

body, html {
  width: 100%;
  height: 50%;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
}

body, .simple-paragraph, button p, p {
  font-family: var(--ginra-regular) !important;
  font-size: var(--font-size-body-xs);
  line-height: var(--line-height-body-xs);
  letter-spacing: 0px;
  color: var(--white);
  /* color: var(--grey-tone-4); */
  font-weight: normal !important;
}

button p {
  color: var(--white);
}

h1, .h1, h1 span, .h1 span {
  font-size: var(--font-size-h1-xs);
  line-height: var(--line-height-h1-xs);
}

h1, .h1 {
  font-family: var(--ginra-bold);
}

h1 span, .h1 span {
  font-family: var(--ginra-regular);
}

h2, .h2, h2 span, .h2 span {
  font-size: var(--font-size-h2-xs);
  line-height: var(--line-height-h2-xs);
}

h2, .h2 {
  font-family: var(--ginra-regular);
}

h2 span, .h2 span {
  font-family: var(--ginra-bold);
}

h3, .h3 {
  font-family: var(--ginra-regular);
  font-size: var(--font-size-h3-xs);
  line-height: var(--line-height-h3-xs);
}

h4, h5, h6, .minor-titles {
  font-family: var(--ginra-regular);
  font-size: var(--font-size-more-h4-xs);
}

.uppercase {
  text-transform: uppercase;
}

/* @media (min-width: 768px) {} */

@media (min-width: 768px) {

  body, .simple-paragraph, button p, p {
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-body-md);
  }

  h1, .h1, h1 span, .h1 span {
    font-size: var(--font-size-h1-md);
    line-height: var(--line-height-h1-md);
  }

  h1, .h1 {
    font-family: var(--ginra-bold);
  }

  h1 span, .h1 span {
    font-family: var(--ginra-regular);
  }

  h2, .h2, h2 span, .h2 span {
    font-size: var(--font-size-h2-md);
    line-height: var(--line-height-h2-md);
  }

  h3, .h3 {
    font-size: var(--font-size-h3-md);
    line-height: var(--line-height-h3-md);
  }

  h4, h5, h6, .minor-titles {
    font-size: var(--font-size-more-h4-md);
  }
}

@media (min-width: 1600px) {
  body, .simple-paragraph, button p, p {
    font-size: var(--font-size-body-xl);
    line-height: var(--line-height-body-xl);
  }

  h1, .h1, h1 span, .h1 span {
    font-size: var(--font-size-h1-xl);
    line-height: var(--line-height-h1-xl);
  }

  h2, .h2, h2 span, .h2 span {
    font-size: var(--font-size-h2-xl);
    line-height: var(--line-height-h2-xl);
  }

  h2, .h2 {
    font-family: var(--ginra-regular);
  }

  h2 span, .h2 span {
    font-family: var(--ginra-bold);
  }

  h3, .h3 {
    font-size: var(--font-size-h3-xl);
    line-height: var(--line-height-h3-xl);
  }

  h4, h5, h6, .minor-titles {
    font-size: var(--font-size-more-h4-xl);
  }
}

/* DIMENSIONS */
.width-100 {
  width: 100%;
}

.min-height-main {
  min-height: 50vh;
}

.max-width-1200 {
  max-width: 1200px;
}

.max-width-1800 {
  max-width: 1800px;
}

/* Container FLEX */
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.justify-envely {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* container and text COLOR */
.bg-transparent {
  background-color: transparent !important;
}

.bg-dark-grey {
  background-color: var(--dark-grey) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-lightblue {
  background-color: var(--lightblue) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.text-lightblue {
  color: var(--lightblue) !important;
}

.hightlight-txt {
  color: var(--red)
}

.hightlight-txt-white {
  color: var(--white);
  font-family: var(--ginra-bold);
}

.divider {
  border-color: var(--grey-tone-4) !important;
  margin: 0px 9% !important;
}

/* DISPLAY */
.display-none {
  display: none;
}

/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

/* POSITION */
.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

/* SCROLL */
.scroll-hidden {
  overflow: hidden;
}

.scrollX-hidden {
  overflow-x: hidden;
}

/* PADDING */
.padding-0 {
  padding: 0px !important;
}

.paddingX-container-default {
  padding-left: 11.2% !important;
  padding-right: 11.2% !important;
}

.paddingX-container-general-pages {
  padding-left: 11.2% !important;
  padding-right: 11.2% !important;
}

.paddingY-container-general-pages {
  padding-top: var(--header-height-xs);
}

@media (min-width: 1024px) {
  .paddingX-container-default {
    padding-left: 21.8% !important;
    padding-right: 21.2% !important;
  }

  .paddingX-container-general-pages {
    padding-left: 14.7% !important;
    padding-right: 14.7% !important;
  }
}

/* MARGIN */
.margin-top-container-screens {
  margin-top: var(--header-height-xs)
}

.marginY-30 {
  margin: 30px 0 30px 0;
}

.marginX-20 {
  margin: 0 20px 0 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

@media(min-width: 768px) {
  .margin-top-container-screens {
    margin-top: calc(var(--header-height-md))
  }
}

@media(min-width: 1024px) {
  .margin-top-container-screens {
    margin-top: calc(var(--header-height-md) + 5px)
  }
}

@media(min-width: 1200px) {
  .margin-top-container-screens {
    margin-top: calc(var(--header-height-lg) + 5px)
  }
}

@media(min-width: 1600px) {
  .margin-top-container-screens {
    margin-top: calc(var(--header-height-xlg) + 5px)
  }
}


/* CLIP-PATH */
.top-oblique-line {
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}

.bottom-oblique-line {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

@media (min-width: 768px) {
  .top-oblique-line {
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }

  .bottom-oblique-line {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
}

@media (min-width: 1600px) {
  .top-oblique-line {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }

  .bottom-oblique-line {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  }
}