:root {
    --primary-burger-menu: var(--first-color);
    --secondary-burger-menu: #fff;

    /* all bg images on menu voices hover */
    --bg_consulting: url(../../../assets/images/beije_team_office/ITA_2639_Web.jpg);
    --bg_academy: url(../../../assets/images/beije_team_office/ITA_2626_Web.jpg);
    --bg_up: url(../../../assets/images/beije_team_office/ITA_2651_Web.jpg);
    --bg_career: url(../../../assets/images/beije_team_office/ITA_2731_Web.jpg);
    --bg_whoWeAre: url(../../../assets/images/beije_team_office/ITA_2887_Web.jpg);
    --bg_contacts: url(../../../assets/images/beije_team_office/ITA_2642_Web.jpg);
    --bg_blog: url(../../../assets/images/beije_team_office/ITA_2549_Web.jpg);
    --bg_community: url(../../../assets/images/beije_team_office/ITA_2045-Modifica-Modifica_Web.jpg);
}

.burger-menu-nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 4em;
    position: fixed;
    z-index: 666;
}

.burger-menu-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    z-index: 100;
}

.burger-menu-container i {
    background-color: var(--primary-burger-menu);
    width: 25px;
    height: 3px;
    margin: 3px 4px;
    transition: all ease 0.5s;
}

.burger-menu-container-light {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    z-index: 100;
}

.burger-menu-container-light i {
    background-color: var(--secondary-burger-menu);
    width: 25px;
    height: 3px;
    margin: 3px 4px;
    transition: all ease 0.5s;
}

.burger-menu-middle-line {
    align-self: flex-end;
    height: 3.2px !important;
    width: 15px !important;
}

.burger-menu-open:nth-child(1) {
    transform: rotate(-45deg) translateY(13px);
    background-color: var(--secondary-burger-menu);
    margin-right: 8px;
}

.burger-menu-open:nth-child(2) {
    opacity: 0;
}

.burger-menu-open:nth-child(3) {
    transform: rotate(45deg) translateY(-13px);
    background-color: var(--secondary-burger-menu);
    margin-right: 8px;
}

.burger-menu-close:nth-child(1) {
    transform: rotate(0) translateY(0);
}

.burger-menu-close:nth-child(2) {
    opacity: 1;
}

.burger-menu-close:nth-child(3) {
    transform: rotate(0) translateY(0);
}

/* overlay menu */
.menu-overlay {
    width: 0px;
    height: 0px;
    top: 0px;
    right: 0px;
    position: fixed;
    background-color: var(--primary-burger-menu);
    color: white;
    margin: 0px;
    z-index: 1;
    border-radius: 50%;
    animation: open-menu-animation linear 2.5s forwards;
}

@keyframes open-menu-animation {
    0% {
        width: 0px;
        height: 0px;
        top: 0px;
        right: 0px;
    }

    100% {
        width: 8000px;
        height: 8000px;
        top: -4000px;
        right: -4000px;
    }
}

.menu-overlay-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../../../assets/images/beije_team_office/ITA_2020-Modifica_Web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    z-index: 1;
    /* transition: 1s ease-in; */
    animation: fadeIn 2s;
}

@keyframes fadeIn {

    0% {
        opacity: 0.5;
        background-color: var(--primary-burger-menu);
    }

    100% {
        opacity: 1;
    }
}

.menu-consulting {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_consulting);
}

.menu-academy {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_academy);
}

.menu-up {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_up);
}

.menu-career {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_career);
}

.menu-whoWeAre {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_whoWeAre);
}

.menu-contacts {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_contacts);
}

.menu-blog {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_blog);
}

.menu-community {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), var(--bg_community);
}

.burger-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 70px; */
    padding: 70px 25px 25px 25px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    right: 50%;
    animation: menu-fadeIn 0.5s forwards;
    opacity: 0;
}

@keyframes menu-fadeIn {

    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.burger-menu-row-content {
    max-width: 1400px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.burger-menu-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger-menu-title {
    font-family: 'Moderat-Regular';
    font-size: 20px !important;
    font-weight: normal !important;
    line-height: 34px !important;
}

.burger-menu-lang {
    display: flex;
    align-items: center;
    justify-content: end;
}

@media screen and (min-width: 768px) {
    .burger-menu-lang {
        display: none;
    }

    .burger-menu-social-col {
        justify-content: end;
    }

    .menu-overlay {
        animation: open-menu-animation linear 1.5s forwards;
    }
}

@media screen and (min-width: 992px) {
    .burger-menu-container i {
        width: 32px;
        height: 4px;
        margin: 4px;
        transition: all ease 0.5s;
    }

    .burger-menu-container-light i {
        width: 32px;
        height: 4px;
        margin: 4px;
        transition: all ease 0.5s;
    }

    .burger-menu-middle-line {
        align-self: flex-end;
        height: 4.2px !important;
        width: 20px !important;
    }

    .burger-menu-open:nth-child(1) {
        transform: rotate(-45deg) translateY(17px);
    }

    .burger-menu-open:nth-child(3) {
        transform: rotate(45deg) translateY(-17px);
    }

    .burger-menu-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }

    .burger-menu-title {
        font-size: 30px !important;
        align-self: flex-end;
    }

    .menu-overlay {
        animation: open-menu-animation linear 1s forwards;
    }

}

@media screen and (min-width: 1024px) {
    .burger-menu-title {
        font-size: 34px !important;
        align-self: flex-end;
    }

    .menu-overlay {
        animation: open-menu-animation linear 0.8s forwards;
    }
}